[2013-09-04 15:41] yegor256 opened #1 "@Quietly method annotation"
migrated from https://github.com/jcabi/jcabi/issues/283

Let's create `@Quietly` method annotation that will catch all exceptions from the method and log them

[2013-09-04 15:43] yegor256 opened #2 "MethodScheduler termination should give the service some time to shutdown"
Migrated from https://github.com/jcabi/jcabi/issues/282

Now it immediately kills everything, which is too harsh. Let's give some time to the service to terminate its threads.

[2013-09-13 09:43] yegor256 opened #4 "Repeater should report total waiting time"
`Repeater` should report total waiting time

[2013-09-13 10:45] #4 closed, assigned to nobody

[2013-09-13 17:18] yegor256 opened #6 "@Parallel"
Let's create a new method annotation `@Parallel`, which will execute annotated method multiple times in a few parallel threads:

[code]

If any of the threads throws an exception, the method throws. All threads start at the same time (we should use `CountDownLatch` to synchronize their start). Only void-returning methods can be annotated.

I believe it will be very useful for unit testing and mayb

[2013-09-18 12:36] #1 closed, assigned to nobody

[2013-09-18 12:38] #2 closed, assigned to nobody

[2013-09-22 21:58] yegor256 opened #9 "RetryOnFailure#randomize"
Moved from https://github.com/jcabi/jcabi/issues/245

Let's add an attribute `boolean randomize() default true` to `@RetryOnFailure`, which will produce random waiting internals between attempts. This may be a good practice in some situations. See http://en.wikipedia.org/wiki/Exponential_backoff

[2013-09-22 21:59] yegor256 opened #10 "@ScheduleWithFixedDelay should have an option to be less verbose"
Moved from https://github.com/jcabi/jcabi/issues/218

For example:

[code]

should not produce a lot of log lines when its individual execution of `run()` exits with an exception

[2013-09-22 22:00] yegor256 opened #11 "JSR-303 validator building"
Moved from https://github.com/jcabi/jcabi/issues/177

Let's simplify JSR-303 validator building somehow.. Now it's too complex and verbose.

something like this:

[code]

When a property annotated with `@ClassInvariant` is found in a class, APT will add proper `@Valid` annotation to the class, in compile time.

APT processor should do three things:
1. Create new annotation `@Employee.Valid`
2. Cre

[2013-09-22 22:01] yegor256 opened #12 "@RetryOnFailure and @Loggable don't work with constructors"
Moved from https://github.com/jcabi/jcabi/issues/139

`@RetryOnFailure` and `@Loggable` don't work with constructors. See: http://stackoverflow.com/questions/13642646/how-to-crosscut-annotated-methods-and-constructors. Let's find a workaround.

maybe let's turn them into `@After` or `@Before` crosscuts?

[2013-09-22 22:02] yegor256 opened #13 "JSR107 for @Cacheable"
Moved from https://github.com/jcabi/jcabi/issues/128

Let's use JSR107 for implementation of `@Cacheable` mechanism.

See:
- http://gregluck.com/blog/archives/2011/10/javax-cache-the-new-java-caching-standard/
- https://github.com/jsr107/jsr107spec

[2013-09-22 22:08] yegor256 opened #14 "@Cacheable should borrow logging level from @Loggable if present"
Move from https://github.com/jcabi/jcabi/issues/237

When a method is annotated by both of them, `@Cacheable` should report to log using the level of logging in `@Loggable`:

[code]

`@Cacheable` should report in `INFO` level

[2013-09-23 06:41] krzyk opened #15 "@Immutable has problems with recursive classes"
When I annotated following class with `@Immutable` it throws `StackOverflowException`:

[code]

[2013-09-24 08:43] yegor256 opened #16 "@Parallel doesn't work on private classes"
This example doesn't work:

[code]

It works in unit tests, I guess, because we're in the same package with the aspect.

To reproduce the problem I'd recommend to use our existing integration testing module executed by `maven-invoker-plugin`.

[2013-09-24 09:21] #16 closed, assigned to nobody

[2013-09-24 09:27] #6 closed, assigned to nobody

[2013-09-27 11:18] yegor256 opened #17 "ArrayMap#with(Map)"
let's add `with(Map)` method to `ArrayMap`

[2013-09-27 11:43] #17 closed, assigned to nobody

[2013-09-28 09:15] dzwicker opened #18 "Update EmptyProcessor to support JDK_7"
We are using jdk 7 and jcabi-log. We want to use the -Werror flag. But the jcabi-aspects warn that it supports only jdk 6.

Is this true or can you update the annotation to support JDK 7?

[2013-09-28 10:20] yegor256 opened #19 "mvn clean site -Psite: java.lang.NoClassDefFoundError: com/jcabi/immutable/ArraySortedSet$Comparator"
When I run `mvn clean site -Psite` this exception is thrown:

[code]

[2013-10-05 06:35] #9 closed, assigned to nobody

[2013-10-18 13:17] yegor256 opened #21 "doesn't compile with JDK6"
The module doesn't compile with JDK6:

[code]

[2013-10-24 04:26] yegor256 opened #23 "Array ctor should accept Iterable"
`Array` ctor should accept `Iterable<T>`

[2013-10-24 05:20] #23 closed, assigned to nobody

[2013-10-27 13:19] #19 closed, assigned to nobody

[2013-10-31 16:17] yegor256 opened #25 "@UnitedThrow"
Let's create new annotation `@UnitedThrow` and an aspect for it, which will guarantee that an annotated method throws only the exception specified:

[code]

In this example method `save()` will throw only `IOException`, no matter what happens inside it.

Let's make exception type configurable:

[code]

If `value` is not specified in the annotation let's use the first one declared in `throws` of a

[2013-12-01 14:20] #25 closed, assigned to nobody

[2014-01-07 13:26] #15 closed, assigned to nobody

[2014-03-09 15:15] yegor256 opened #29 "use com.jcabi:jcabi 1.4"
Let's use `com.jcabi:jcabi:1.4` as a parent `pom`

[2014-04-17 12:17] #29 closed, assigned to nobody

[2014-05-03 06:20] yegor256 opened #30 "@Async"
Let's implement an `@Async` annotation, similar to the one from Spring: http://docs.spring.io/spring/docs/3.2.x/spring-framework-reference/html/scheduling.html#scheduling-annotation-support-async

[2014-05-05 15:23] #21 closed, assigned to nobody

[2014-05-06 12:13] #18 closed, assigned to nobody

[2014-05-28 08:09] yegor256 opened #31 "RetryOnFailure doesn't retry on errors"
`RetryOnFailure` doesn't retry on errors, only on exceptions. Let's make sure that it retries on `Throwable`

[2014-05-28 08:12] #13 closed, assigned to nobody

[2014-05-28 08:14] #11 closed, assigned to nobody

[2014-05-28 15:50] dmarkov opened #32 "Quietly.java:44-47: This annotation has to be..."
Puzzle `1-b7897109` in `src/main/java/com/jcabi/aspects/Quietly.java:44-47` has to be resolved: This annotation has to be on methods returning void only. A compile-time APT processor needs to be created that will verify that only void methods have @Quietly annotations. In runtime it should throw an exception before executing of method body, if its return type is not void.

[2014-05-28 16:43] dmarkov opened #33 "ImmutableTest.java:57-58: The test is disabled since..."
Puzzle `133-94684a15` in `src/test/java/com/jcabi/aspects/ImmutableTest.java:57-58` has to be resolved: The test is disabled since in Java final arrays can still be modified (bloody Java!)

[2014-05-28 17:51] dmarkov opened #34 "MethodValidator.java:194-197: It's a temporary design, which..."
Puzzle `61-1692fcb2` in `src/main/java/com/jcabi/aspects/aj/MethodValidator.java:194-197` has to be resolved: It's a temporary design, which enables only NotNull, Valid, and Pattern annotations. In the future we should use JSR-303 Validator, when they implement validation of values (see their appendix C).

If you have any technical questions, don't ask me, submit new tickets instead

[2014-05-29 00:12] carlosmiranda opened #35 "Let's use com.jcabi:jcabi 1.8 as the parent pom"
The current `jcabi` parent pom version is `1.7`, which references a buggy Qulice version `0.8.1` that fails to build on Windows. The `com.jcabi:jcabi` version `1.8` updates to a fixed Qulice version (among other things), which will allow the project to be built on Windows machines.

[2014-05-29 00:27] carlosmiranda opened #37 "Enable configuration of ignored types with @Immutable"
I noticed that the following types are ignored (assumed immutable) by the `@Immutable` annotation (through `ImmutabilityChecker`):
1. `Object` and `String` instances
2. Primitive types
3. Types in `org.aspectj.runtime.reflect.*`

The rationale for this is something that I understand. The first two are JDK types and the third is an external library, all of which are a) we know to be immutable, and

[2014-05-29 16:02] #31 closed, assigned to nobody

[2014-06-04 12:05] #37 closed, assigned to nobody

[2014-06-05 04:41] #30 closed, assigned to nobody

[2014-06-05 12:44] #32 closed, assigned to nobody

[2014-06-09 09:06] #33 closed, assigned to nobody

[2014-06-09 14:04] dmarkov opened #41 "Quietly.java:44-48: This annotation has to be..."
Puzzle `32-9b5b2ac8` in `src/main/java/com/jcabi/aspects/Quietly.java:44-48` has to be resolved: This annotation has to be on methods returning void only. We already have runtime checking of the return type, and any methods annotated with @Quietly that don't throw void throws an exception. Let's create a compile-time APT processor needs to be created that will verify that only void methods have @Q

[2014-06-09 14:45] dmarkov opened #42 "AsyncTest.java:77-78: This test is not stable..."
Puzzle `30-13669aa4` in `src/test/java/com/jcabi/aspects/AsyncTest.java:77-78` has to be resolved: This test is not stable during Maven build, for some reason. Let's fix and enable it.

[2014-06-10 03:28] carlosmiranda opened #46 "Parallelizer does not shut down the thread pool that it creates"
Methods annotated with `@Parallel` are executed in multiple simultaneous threads. To achieve this, `Parallelizer` uses `Executors.newFixedThreadPool()` with the number of threads equal to the number specified with the annotation parameters.

However, `Parallelizer` does not shut down the `ExecutorService`. This may result in idle threads running in the background for much longer than necessary. It

[2014-06-13 09:38] #42 closed, assigned to nobody

[2014-06-14 07:55] #14 closed, assigned to nobody

[2014-06-14 07:55] #10 closed, assigned to nobody

[2014-06-15 13:46] #35 closed, assigned to nobody

[2014-06-27 09:13] #41 closed, assigned to nobody

[2014-06-27 09:32] dmarkov opened #49 "Immutable.java:65-68: Let's prevent modifications to arrays..."
Puzzle `33-e5af3af3` in `src/main/java/com/jcabi/aspects/Immutable.java:65-68` has to be resolved: Let's prevent modifications to arrays having this annotation, somehow. Perhaps we can create an aspect that will throw an exception should something try to write into the array. See https://bugs.eclipse.org/bugs/show_bug.cgi?id=157031

If you have any technical questions, don't ask me, submit new tic

[2014-06-27 09:51] dmarkov opened #50 "MethodCacher.java:65-66: Split this class into smaller..."
Puzzle `14-97704c5f` in `src/main/java/com/jcabi/aspects/aj/MethodCacher.java:65-66` has to be resolved: Split this class into smaller ones so it will have less responsibility and remove PMD.GodClass suppressed warning.

[2014-07-01 11:35] #12 closed, assigned to nobody

[2014-07-02 14:09] dmarkov opened #52 "MethodAsyncRunner.java:51-55: It is meaningless for methods..."
Puzzle `41-28606be4` in `src/main/java/com/jcabi/aspects/aj/MethodAsyncRunner.java:51-55` has to be resolved: It is meaningless for methods covered by this class if they return anything other than void or {@link java.util.concurrent.Future}. Currently, null is returned when the annotated method returns any other type. Let's make it throw an exception, instead, similar to how {@link QuietExceptions

[2014-07-02 14:46] dmarkov opened #53 "Async.java:54-56: We should create a compile-time..."
Puzzle `41-c2ba08a7` in `src/main/java/com/jcabi/aspects/Async.java:54-56` has to be resolved: We should create a compile-time APT processor that checks whether methods annotated with {@link Async} return either void or Future. The check should fail if that is not the case.

[2014-07-08 18:36] longtimeago opened #56 "Annotation to measure method execution time"
It would be very useful to have annotation `@Profiled` to measure method execution time. Kinda lightweight profiling. Measured time can be, for example, logged.

[2014-07-08 19:05] #56 closed, assigned to nobody

[2014-07-09 11:03] longtimeago opened #57 "java.lang.NoClassDefFoundError: Lorg/sonatype/aether/RepositorySystemSession"
I've added jcabi-aspects to my project as described here http://aspects.jcabi.com/example-weaving.html
But when I run mvn clean install on by project I got:

[code]

jdk1.7.0_40
apache-maven-3.2.1

[2014-07-09 11:55] yegor256 opened #58 "jcabi-loggable thread doesn't stop on exit"
see https://github.com/jcabi/jcabi-log/issues/17

[2014-07-09 12:06] #57 closed, assigned to nobody

[2014-07-09 12:50] carlosmiranda opened #59 "Improper usage of ExecutorService in CacheableTest causes instability"
`CacheableTest.cachesJustOnceInParallelThreads` failed a few times on Rultor (#54, [see log](http://www.rultor.com/t/6a636162692f6a636162692d61737065637473233534-6de5f0f4)) In the test method , a new fixed thread pool is created in the following manner:

[code]

Each time `newFixedThreadPool` is executed, up to the specified number of threads is created. For example, if we specified 4, up to 4 thr

[2014-07-10 02:51] carlosmiranda opened #62 "Update examples in the documentation of Cacheable to reflect preferred usage"
In the documentation of `@Cacheable`, both in the Maven-generated site and its own Javadoc, we have the following example:

[code]

It then explains:

That said, `@Cacheable.Flush` is actually marked `@Deprecated` in our API, which implies that it's obsolete and is only retained for backwards compatibility. It would be best if we were to update the documentation with examples of `@Cacheable.FlushB

[2014-07-14 06:56] #46 closed, assigned to nobody

[2014-07-15 08:14] #59 closed, assigned to nobody

[2014-07-15 09:15] #50 closed, assigned to nobody

[2014-07-17 21:39] #62 closed, assigned to nobody

[2014-07-18 07:39] #58 closed, assigned to nobody

[2014-07-18 09:24] #52 closed, assigned to nobody

[2014-07-24 15:35] #53 closed, assigned to nobody

[2014-08-13 20:39] yegor256 opened #80 "skin 1.4"
let's use skin 1.4

[2014-08-13 21:14] #80 closed, assigned to nobody

[2014-08-24 12:43] krzyk opened #81 "JSR 303 constructor waving should use preinitialization"
`preinitialization` correctly catches all constructors on an object. Current `initialization` only catches the last constructor called before creation of an object (the one without `this(..)`).

[2014-08-29 01:26] emilianobonassi opened #83 "Unable to get annotations working on spring-boot project"
I'm unable to get annotations working, i can add with success the library using pom.xml and compile without errors. I think that there is some issue with weaving.
I'm looking forward to hearing from you.

[2014-09-01 20:06] #81 closed, assigned to nobody

[2014-09-18 15:21] ignatiomobius opened #85 "Making logger loading of @Loggable annotation more flexible"
As far as I understand it, @Loggabble currently uses com.jcabi.log.Logger which in turn calls org.slf4j.LoggerFactory#LoggerFactory.getLogger([Class-that-uses-the-annotation].class) to get a logger.

In my project (using logback), I would like to get a logger by String (so I can load a custom logger for some classes).

Proposal:  Extend @Loggable with another parameter  "loggername" which, if set,

[2014-09-18 21:09] xerofun opened #86 "@Loggable log line time fidelity"
It'd be nice to be able to change the fidelity with which the @Loggable displays time. Seconds is too coarse for most of my needs.  I believe it currently autoscales from more recent investigation but I think it'd still be nice to be able to tweak it a bit.

[2014-09-22 14:04] xerofun opened #87 "Define member variables to add to log payload"
I have a handful of methods that I'd like to track that are essentially "process()" methods.  This stems from the fact that they are runnables and are parameterized at instantiation.  I'd like to be able to instruct the annotation to also print out one of the member variables as though it were a parameter.

[code]

[2014-09-23 00:04] #83 closed, assigned to nobody

[2014-09-25 08:11] #85 closed, assigned to nobody

[2014-09-25 13:41] #86 closed, assigned to nobody

[2014-09-28 07:06] krzyk opened #91 "Cacheable caches method across multiple object instances"
This is quite unintuitive as new object instance gets `@Cacheable` result from previous instance.
Below unit tests fails:

[code]

The method it works right now might be desirable (but I think it should be reserved to static methods) so a solution would be to add a parameter to `@Cacheable` annotation that will make cache per instance not per class.

[2014-10-03 16:31] michelcarlini opened #93 "@Cacheable not working"
I'm using the @Cacheable annotation in a method and it does not return a cached value. When I change it for a @Loggable annotation, for example, it does work.
There is a log entry "jcabi-aspects 0.19/626d160 started new daemon thread jcabi-cacheable for automated cleaning of expired @Cacheable values".
I'm using version jcabi-aspects 0.19, and aspectjrt 1.8.2. The code runs inside a JBoss EAP 6.2

[2014-10-03 17:50] #93 closed, assigned to nobody

[2014-10-04 16:32] #91 closed, assigned to nobody

[2014-10-07 09:46] krzyk opened #95 "Calling close() on ScheduleWithFixedDelay before delay passes causes NPE"
Method annotated in `@ScheduleWithFixedDelay(delay = 1, unit = TimeUnit.MINUTES)` when called close before the delay passes causes NPE.

[2014-10-07 19:52] krzyk opened #96 "ScheduleWithFixedDelay should have an option to disable it during unit tests"
Right now `@ScheduleWithFixedDelay` is run both in main and in test classes.
It is sometimes desirable to run it in test classes the same way as in real ones, but during testing of the class annotated with it might cause problems.
One cannot have two tests that create instances of given class because it (correctly) throws exception.

My initial idea is to add another annotation that can be used to

[2014-10-09 20:13] #96 closed, assigned to nobody

[2014-10-24 12:10] #95 closed, assigned to nobody

[2014-10-29 13:31] ramanqa opened #99 "annotations don't work in a project without src/main/java"
Hi,

I am creating a test DSL which would be invoked by TestNG Test Classes. I have annotated the methods in a class with @Loggable. I can see the clousure classes created in the test-classes under target, so the weaving is happening. But when I invoke the testng tests the methods do not get logged. Whereas in the same maven project if I have a main java class and I run it with exec:java maven plu

[2014-10-31 03:47] johnisutanto opened #100 "Error NoClassDefFoundError(com/google/common/io/Files)"
I am just getting started in using jcabi-maven-plugin. I started with the latest version posted here 0.9.4 and I am working with JDK 6.
The dependencies I have are as follow:

com.jcabi
jcabi-aspects
0.20

org.aspectj
aspectjrt
1.6.12

But building my project, I am getting the following error.
It's complaining it couldn't find some files from google. Do I need to specify some other dependencies? I

[2014-11-02 21:00] caarlos0 opened #101 "Wrong JSR-303 link"
This error message is with the wrong link:

[code]

The right URL is http://aspects.jcabi.com/jsr-303.html .

[2014-11-02 21:12] #101 closed, assigned to nobody

[2014-11-05 12:44] #87 closed, assigned to krzyk

[2014-11-05 16:39] zolabh opened #102 "JSR-303 error when upgrade from 0.6.1 to 0.8.1"
I have just upgraded my module to to use 0.8.1 from 0.6.1 and I am now seeing an ERROR message in the build output.

[code]

[2014-11-05 23:22] emilianobonassi opened #103 "Unable to weave classes with java 1.8"
Hi,
i've receive this warning when I try to build a project with maven and jcabi-aspects:

[WARNING] Found @DeclareAnnotation while current release does not support it (see 'org.aspectj.weaver.bcel.AtAjAttributes')

Indeed, I receive this error

AspectJ Internal Error: unable to add stackmap attributes. null

I'm using jcabi-maven-plugin:0.9.4 and jcabi-aspects:0.20

Thank for your support.

[2014-11-06 15:02] #103 closed, assigned to nobody

[2014-11-21 09:16] yegor256 opened #104 "interfaces can't be final"

[2014-11-21 09:49] #104 closed, assigned to nobody

[2014-11-29 23:44] MauricioJr opened #105 "Installation in Legacy Systems without MVN"
@yegor256 Your project really looks really nice. I've just started to written my owner aspects to do similar things. I have just a simple question, is possible to setup without maven just importing a .jar or something like that?

[2014-12-07 14:30] praveennsubu opened #106 "@Loggable not printing the logs"
Hey, for some reason @Loggable is not printing out the logs for me. I've been at it for ever now, but can't seem to figure it out. I've added the dependencies and also the jcabi-maven-plugin. I'm using slf4j with log4j and all the other logs that I've used in my spring-mvc application are working. Can you help me sort this out please? Do I have to set up any additional AOP configuration in my proj

[2014-12-11 09:21] dmarkov opened #107 "Loggable.java:196-197: Let's document the usage of..."
Puzzle `85-4b96ddcb` in `src/main/java/com/jcabi/aspects/Loggable.java:196-197` has to be resolved: Let's document the usage of this parameter in the annotation-loggable.apt.vm site page.

If you have any technical questions, don't ask me, submit new tickets instead

[2014-12-12 10:28] dmarkov opened #108 "Loggable.java:187-188: Let's document the usage of..."
Puzzle `86-2fc54a8a` in `src/main/java/com/jcabi/aspects/Loggable.java:187-188` has to be resolved: Let's document the usage of this parameter, including its effects and default setting, in the annotation-loggable.apt.vm page.

If you have any technical questions, don't ask me, submit new tickets instead

[2014-12-14 11:48] #106 closed, assigned to nobody

[2014-12-15 03:48] dave1e6 opened #109 "@Loggable methods that return byte[] throw a ClassCastException"
Hi,

Is this behaviour expected? Methods that return a byte[] that are @Loggable  end up sending a ClassCastException to the log.

eg calling

[code]

Results in

[code]

[2014-12-15 04:05] hndanesh opened #110 "Tests failing"
I'm just getting started with this project. Can someone tell me why the tests are failing?

[code]

[2014-12-15 10:12] dmarkov opened #111 "MethodLogger.java:175-176: Refactor this method into smaller..."
Puzzle `87-2655d0cc` in `src/main/java/com/jcabi/aspects/aj/MethodLogger.java:175-176` has to be resolved: Refactor this method into smaller ones and remove both PMD and Checkstyle suppress.

If you have any technical questions, don't ask me, submit new tickets instead

[2014-12-17 14:36] MauricioJr opened #112 "Log the monitoring in a specific file."
Hello guys.

Thinking about jcabi like a monitoring project for specific functions of any application, I'm assuming, I don't want to print these logs in the same logfile who could be N size of content generate by webserver for example.

I'm able to do this one but I'm thinking what's the best way to configure the framework to printout in a specific file?
This specific file could be a default one o

[2014-12-23 12:06] MauricioJr opened #117 "Compiled jar with aspect 1.8 and java 1.8"
Is possible to create a version with the last aspectj and java version?

[2014-12-29 01:23] #109 closed, assigned to krzyk

[2014-12-30 09:23] dmarkov opened #118 "ImmutableTest.java:77-82: Assignment is not intersected, that's..."
Puzzle `104-259d589d` in `src/test/java/com/jcabi/aspects/ImmutableTest.java:77-82` has to be resolved: Assignment is not intersected, that's why this test doesn't work. We simply don't catch the moment when an object is assigned to the private filed of another object. That's why we can't tell when such a mutable class is being used. I think we should introduce a new AspectJ join point in Immutabi

[2014-12-30 09:24] #107 closed, assigned to krzyk

[2014-12-30 09:24] #108 closed, assigned to krzyk

[2014-12-30 09:24] #111 closed, assigned to krzyk

[2014-12-31 08:28] dmarkov opened #121 "Mnemos.java:289-290: Add handling of int, long,..."
Puzzle `109-bb540c79` in `src/main/java/com/jcabi/aspects/aj/Mnemos.java:289-290` has to be resolved: Add handling of int, long, float, double, char and boolean arrays.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-01-01 15:07] darkled opened #122 "Different results of local and CI qulice invocation"
Running locally `mvn clean install -Pqulice` leads to 450+ lines in the build log looking like
[code]

[2015-01-02 08:44] dmarkov commented on #122
this task will get someone's attention soon

[2015-01-02 08:47] dmarkov commented on #122
@apocarteres can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-01-02 08:48] dmarkov commented on #122
@darkled many thanks for the report, I topped your account for 15 mins, transaction 49717531

[2015-01-02 08:59] darkled commented on #122
@dmarkov is it ok that actual transaction id is equal to your number +1 ?

[2015-01-02 09:22] apocarteres commented on #122
sure. let me check it

[2015-01-03 10:48] apocarteres commented on #122
@darkled did you change any sources before you local build? If so, double check that your text editor / IDE doesn't put not UNIX complaint end of line symbols.

[2015-01-03 10:51] darkled commented on #122
@apocarteres it was a clean checked out sources wtihout any changes.

[2015-01-03 10:53] apocarteres commented on #122
ok. checking...

[2015-01-03 11:19] apocarteres commented on #122
@darkled did you try to run mvn with heap adjusting flags? I figured out that it's OOME issue. The facts below do prove that:

- having used the <code>mvn clean install -Pqulice</code> command build fails and it says that several dependencies were not resolved
- having used the <code>mvn -e clean install -Pqulice</code> the same fail, but now we can see OOME
![screen shot 2015-01-03 at 5 09 28 pm]

[2015-01-03 11:30] apocarteres commented on #122
please pay attention to how to setup MAVEN_OPTS correct on non POSIX/LINUX systems

[2015-01-03 11:39] darkled commented on #122
@apocarteres unfortunately `OutOfMemoryError` has nothing to do with this. Please take a look at the [log file](https://gist.github.com/darkled/52818d0f05df5fdb9f68) of `mvn -e clean install -Pqulice`.

[2015-01-03 11:47] apocarteres commented on #122
ok then, please check out my fork from <code>https://github.com/apocarteres/jcabi-aspects</code> i just added <code>.gitattributes</code> file. It's going to solve the problem. If so, i will raise PR

[2015-01-03 11:48] apocarteres commented on #122
please note, that it must be _clean_ checkout, it will force Git to use <code>.gitattributes</code> file then

[2015-01-03 15:50] darkled commented on #122
@apocarteres seems that `git clone https://github.com/apocarteres/jcabi-aspects.git jcabi-aspects2` leads to the same result. I think, I've found the reason, system git config under windows defines `core.autocrlf=true`. Theoretically, your `.gitattributes` should override it, but actually it doesn't. So it seems, that the only solution is to override this property locally either in global or in re

[2015-01-03 15:54] apocarteres commented on #122
ok, sounds good. it's not an issue anymore?

[2015-01-03 16:02] darkled commented on #122
@apocarteres I think yes, thanks.

Accidently, I've removed my previous comment, therefore I will repeat it shortly here.

`.gitattributes` file leads to the same result as it was before. System git configuration under windows defines `core.autocrlf=true` which processes line endings and, theoretically, it should be overridden by `.gitattributes`, but due to some strange reason it was not. So the

[2015-01-03 16:02] #122 closed

[2015-01-05 23:06] darkled commented on #118
@dmarkov would you mind to close the issue, please, if you don't have any further points here?

[2015-01-06 11:26] yegor256 commented on #118
@darkled did you remove the puzzle from the source code?

[2015-01-06 11:45] darkled commented on #118
@yegor256 yes, sure

[2015-01-07 10:07] dmarkov commented on #122
@apocarteres I added **30 mins** to your account, many thanks for working with the project!... +30 to your rating, your total score is +60

[2015-01-08 12:09] dmarkov commented on #118
Closing..

[2015-01-08 12:09] #118 closed

[2015-01-08 12:11] dmarkov commented on #118
@darkled Thanks for your contribution, **30 mins** was added to your account, payment ID is `49979004`

+30 added to your rating, current score is: [+75](http://www.netbout.com/b/35091?open=rating)

[2015-01-08 16:36] maurezen opened #123 "Copyright section is outdated"
Copyright sections still feature 2014 as a year.

[2015-01-12 12:05] dmarkov commented on #123
I'll find a developer for the task soon...

[2015-01-12 12:56] dmarkov commented on #121
@jenya you're holding this ticket for 12 days already. If it's not finished (and closed) in the next 40 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; do not forget to remove the TODO puzzle from the source code; added -30 to your rating, now it is equal to [-255](http://www.netbout.com/b/35092?open=ratin

[2015-01-12 12:56] dmarkov commented on #123
@romankisilenko this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-01-12 12:57] dmarkov commented on #123
@maurezen many thanks for the report, I topped your account for 15 mins, transaction 50045017

[2015-01-13 12:59] RomanKisilenko opened #124 "ClassFormatException during compilation"
[code]
[code]

[2015-01-13 14:38] yegor256 commented on #124
@RomanKisilenko can you please post a bigger log. I don't understand what the problem is. say a few more words about the bug

[2015-01-13 15:03] RomanKisilenko commented on #124
Here is a full log: https://gist.github.com/RomanKisilenko/d54c8d72caf2ebfb5f43.

Probably the issue is related to a specific environment, but in this case it might be good idea to specify constraints imposed on developer environment.

[2015-01-13 15:29] yegor256 commented on #124
looks like we can't build with Java8

[2015-01-14 10:19] dmarkov commented on #121
@jenya it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

-60 to your rating, your total score is [-495](http://www.netbout.com/b/35092?open=rating)

[2015-01-14 10:19] dmarkov commented on #124
@dpisarenko please go ahead with this task, it's yours

[2015-01-14 12:31] dpisarenko commented on #124
@dmarkov I can't reproduce exactly the error on my machine with the Java version given below.

[code]

@RomanKisilenko posted a build log, where the error occured right at the start, in the compile phase. On my machine, it doesn't occur in the compile phase.

`mvn clean install -Pqulice` runs sucessfully.

[2015-01-14 12:32] dpisarenko commented on #124
@dmarkov I'll upgrade my Java to `1.8.0_25` and look, if the error occurs then.

[2015-01-14 12:55] dpisarenko commented on #124
@dmarkov I can't reproduce this error under Java version given below, either.

[code]

[2015-01-14 12:58] dpisarenko commented on #124
FYI: Will now set the version of aspectjrt to 1.8.4 and see, if the error occurs then.

[code]

[2015-01-14 13:31] dpisarenko commented on #124
Now I can reproduce the error.

[2015-01-14 13:46] dpisarenko commented on #124
FYI:

  1. I fixed the original problem using a different version of AspectJ Maven plugin (source: http://stackoverflow.com/questions/25155905/running-jdk8-for-aspectj ).
  1. But now, a test fails (see below). I will ignore it and add a puzzle for it.

[code]

[2015-01-14 14:05] dpisarenko commented on #124
@dmarkov Please find someone to review my pull request https://github.com/jcabi/jcabi-aspects/pull/126 .

[2015-01-14 23:05] yegor256 commented on #124
@dpisarenko thanks for explaining your progress, very good practice!

[2015-01-16 13:21] dpisarenko commented on #124
@RomanKisilenko The issue has been fixed and the bugfix merged. Please check, if it works and if it does, close the issue. Thanks!

[2015-01-16 20:56] RomanKisilenko commented on #124
It compiles for me fine now.

[2015-01-16 20:56] #124 closed

[2015-01-19 08:28] yegor256 opened #127 "limited amount of threads for @Async"

[2015-01-19 08:33] yegor256 commented on #127
@rultor release, tag is `0.20.2`

[2015-01-19 08:33] rultor commented on #127
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1630-70460014)

[2015-01-19 08:54] rultor commented on #127
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1630-70460014) (spent 21min)

[2015-01-19 08:56] yegor256 commented on #127
@rultor release, tag is `0.20.2`

[2015-01-19 08:57] rultor commented on #127
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1630-70462289)

[2015-01-19 09:42] rultor commented on #127
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1630-70462289) (spent 45min)

[2015-01-19 13:35] yegor256 commented on #127
@rultor release, tag is `0.20.2`

[2015-01-19 15:14] rultor commented on #127
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1630-70492740)

[2015-01-19 15:33] rultor commented on #127
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1630-70492740) (took me 18min)

[2015-01-19 15:38] #127 closed

[2015-01-20 08:34] yegor256 opened #128 "ImmutabilityChecker is broken"
[code]

[2015-01-20 08:37] yegor256 commented on #128
@rultor release, tag is `0.20.3`

[2015-01-20 08:38] rultor commented on #128
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1664-70620593)

[2015-01-20 08:50] rultor commented on #128
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1664-70620593) (took me 12min)

[2015-01-20 08:52] #128 closed

[2015-01-20 08:53] yegor256 commented on #128
@rultor release, tag is `0.20.4`

[2015-01-20 08:53] rultor commented on #128
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1664-70622199)

[2015-01-20 09:05] rultor commented on #128
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1664-70622199) (took me 12min)

[2015-01-20 09:16] dmarkov commented on #121
@oruam85 please proceed, it's yours

[2015-01-20 09:16] dmarkov commented on #124
@dpisarenko Thanks a lot, I just topped your account for **30 mins**, transaction ID `50517963`

+30 added to your rating, at the moment it is: [+235](http://www.netbout.com/b/35089?open=rating)

[2015-01-21 12:46] RomanKisilenko commented on #123
@maurezen Hello, PR request was reviewed and closed, please close this issue.

[2015-01-21 12:47] RomanKisilenko commented on #124
@dmarkov Is not I'm supposed to be paid for this bug report?

[2015-01-21 13:44] yegor256 commented on #124
@dmarkov please add extra 15 mins to @RomanKisilenko

[2015-01-21 14:15] #123 closed

[2015-01-21 16:42] oruam85 commented on #121
@dmarkov the PR is https://github.com/jcabi/jcabi-aspects/pull/129

[2015-01-21 18:27] oruam85 commented on #110
@hndanesh @yegor256 yesterday  i had a similar problem in this project. you can solve it deleting the .m2 folder and run `mvn clean install -Pqulice` again.

This can take 45 min.

[2015-01-21 22:46] maurezen opened #130 "Qulice configuration - no license specified."
1. Checkout master branch
2. run `mvn qulice:check -Pqulice`
3. There are multiple `Line does not match expected header line of ' * BSD License'. (HeaderCheck)` messages.

This is a known bug of qulice configuration in parent-0.31 (jcabi/jcabi-parent#19), accessed via jcabi-0.16. Suggested action is waiting until jcabi/jcabi#297 fix is released and upgrading jcabi version.

[2015-01-21 22:49] yegor256 commented on #130
There is no urgent need to upgrade to a new parent.

[2015-01-21 22:49] #130 closed

[2015-01-21 23:11] maurezen commented on #130
@yegor256 please correct me if I understand this wrong, but are you saying that fixing failing code style checks in master are LESS important than updating a copyright section (issue #123, labeled by you as a valid bug and already fixed)?

[2015-01-22 07:24] dmarkov commented on #124
@yegor256 15 mins extra was just paid to @romankisilenko, transaction `50593136`

[2015-01-23 07:22] dmarkov commented on #128
once `128-1ba0b794` puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-01-23 07:22] dmarkov commented on #124
once `124-0ed2a036` puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-01-23 10:29] dmarkov commented on #123
@romankisilenko **30 mins** sent to your balance (ID `50616616`), many thanks!... +30 added to your rating, current score is: +420

[2015-01-23 15:19] oruam85 commented on #121
@dmarkov the PR was merged. Please close this bug

[2015-01-26 13:19] oruam85 commented on #121
@dmarkov the PR was merged. Please close this bug

[2015-01-27 19:14] oruam85 commented on #121
@dmarkov the PR was merged. Please close this bug

[2015-01-28 08:05] dmarkov commented on #121
It's closed now

[2015-01-28 08:05] #121 closed

[2015-01-28 08:07] dmarkov commented on #121
@oruam85 I just added **30 mins** to your account, many thanks for your contribution..... +30 added to your rating, at the moment it is: +180

[2015-01-28 10:33] dmarkov opened #131 "ImmutableTest.java:68-73: This test and the next..."
Puzzle `128-1ba0b794` in `src/test/java/com/jcabi/aspects/ImmutableTest.java:68-73` has to be resolved: This test and the next one are ignored because this functionality was removed in #128. It simply didn't work correctly and I didn't manage to reproduce it. I suspect that that the issue appears when one constructor is calling another constructor. Anyway, let's try to investigate and re-implement

[2015-01-28 10:35] dmarkov commented on #131
@maurezen it's your task, go ahead

[2015-01-28 17:25] maurezen opened #132 "Incomplete documentation: @Immutable"
The javadoc needs a strict definition of what is and what isn't an immutable class.

For example, while working on #131, I see in `ImmutableTest#catchesMutableTypesWithInterfaces` that the `@Immutable` is supposed to throw an exception upon initialization of the following class

[code]

Why is that? The `data` field is quite immutable; moreover, the `TruelyImmutable` test class features the final

[2015-01-28 17:26] maurezen commented on #131
@yegor256 @dmarkov I need additional information, so I created an information request ticket on which I depend: #132

[2015-01-28 17:27] yegor256 commented on #132
@maurezen this description is not clear enough: http://aspects.jcabi.com/annotation-immutable.html ?

It says: "Our immutability checker is rather strict and doesn't allow classes to have any non-private, non-final properties in order to be called truly immutable. If your class/interface has a property with a type that is an interface, that child interface has to be annotated with @Immutable"

[2015-01-28 18:42] maurezen commented on #132
@yegor256 Right, haven't checked the actual docs (shouldn't that paragraph be duplicated in javadoc?). That answers my first question.

The second question still stands. The `impl` field of the `MutableWithImmutableInterface` is private, final and of `@Immutable` type `ImmutableInterface`. What's wrong (initialization to an anonymous implementation without @Immutable interface probably is, but tha

[2015-01-28 19:41] yegor256 commented on #132
@maurezen please show the Java code you can't understand

[2015-01-28 20:30] maurezen commented on #132
@yegor256 See `ImmutableTest#catchesMutableTypesWithImplementationOfImmutableInterface`.
[code]
Why is the exception expected? Docs say that immutability is checked during instantiation, not a word about other methods being checked for mutations.

[2015-01-29 17:04] yegor256 commented on #132
@maurezen what's inside `MutableWithImmutableInterface`?

[2015-01-29 20:56] maurezen commented on #132
@yegor256

[code]

[2015-01-30 09:33] dmarkov opened #133 "CacheableTest.java:57-58: Make sure that this test..."
Puzzle `124-0ed2a036` in `src/test/java/com/jcabi/aspects/CacheableTest.java:57-58` has to be resolved: Make sure that this test runs under Java 8 and remove the Ignore annotation then.... The puzzle was created by Dmitri Pisarenko on 16-Jan-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-01-30 09:33] dmarkov commented on #133
the code made here contains a puzzle `33-e5af3af3`/#49, which will be resolved soon

[2015-01-30 09:33] dmarkov commented on #86
last puzzled solved `86-2fc54a8a`/#108

[2015-01-30 09:34] dmarkov commented on #85
the last puzzle `85-4b96ddcb`/#107 originated from here solved

[2015-01-30 09:34] dmarkov commented on #87
the last puzzle `87-2655d0cc`/#111 solved

[2015-01-30 09:38] dmarkov commented on #133
@nhekfqn the task is yours, go ahead

[2015-01-30 10:49] yegor256 opened #134 "@Cacheable#before and #after"
There should be an option in `@Cacheable` annotation to specify `before` and `after`, for example:

[code]

[2015-01-30 10:52] yegor256 commented on #132
@maurezen this implementation of `ImmutableInterface` is mutable, as you see. That's why the test fails. Looks correct to me. Or I missed the problem?

[2015-01-30 11:22] yegor256 commented on #134
@rultor release, tag is `0.21`

[2015-01-30 11:23] rultor commented on #134
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1822-72187386)

[2015-01-30 11:41] rultor commented on #134
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1822-72187386) (took me 18min)

[2015-01-30 11:49] #134 closed

[2015-01-30 17:15] maurezen commented on #132
@yegor256 the implementation itself is an anonymous class without an `@Immutable` annotation, so it is fine to do whatever it wants. The `impl` field is private, final and of the type annotated as `@Immutable`. Where exactly is this breaking the contract as written in your docs quote?

[2015-01-30 18:55] yegor256 commented on #132
@maurezen `impl` is fine, the problem is with `state` field, which is not `final`

[2015-01-30 19:32] maurezen commented on #132
@yegor256 `state` is a field of the class not annotated with `@Immutable`, what's the problem?

[2015-01-30 21:55] yegor256 commented on #132
@maurezen `ImmutableInterface` doesn't have `@Immutable` annotation?

[2015-01-30 22:04] maurezen commented on #132
@yegor256 `size` is a field of an anonymous class which is not annotated. As far as I know, annotations are not inherited in Java, so if jcabi-aspects behaves in another way, it should be documented.

[2015-01-30 22:13] maurezen commented on #132
@yegor256 `size` is a field of an anonymous class which is not annotated. As far as I know, annotations are not inherited in Java, so if jcabi-aspects behaves in another way, it should be documented, shouldn't it?

[2015-01-31 07:07] yegor256 commented on #132
@maurezen it's not annotated, but jcabi-aspects is smart enough to catch this situation. The class `MutableWithImmutableInterface` is mutable, since there is a mutable field inside one of its fields. That's why we complain. Looks correct to me.

[2015-01-31 07:07] #132 closed

[2015-01-31 08:17] maurezen commented on #132
@yegor256 I'm fine with this behaviour, too, but shouldn't it be explicitly mentioned in the docs? Since by default java behaves in other way?

[2015-02-01 21:25] maurezen commented on #132
@yegor256 any comments?

[2015-02-02 01:29] yegor256 commented on #132
@maurezen I think our documentation is fine as it is. An object is immutable when all all its components (properties) are immutable.

[2015-02-02 07:37] maurezen commented on #132
@yegor256 I'm not arguing with that. I'm saying that if the implementation of `@Immutable` interface is not itself annotated as `@Immutable`, Java doesn't inherit the annotation, and if jcabi-aspects does, it should be mentioned somewhere.
Anyway, you told me about the current logic already, thanks.

[2015-02-02 22:30] maurezen commented on #132
@yegor256 sorry, just to reiterate, because I now fail to understand it again.

`ImmutabilityChecker#after` is an aspect which catches instantiations of `@Immutable` classes:
[code]
Let's take a look at the following code now:

[code]
Here `B.class.getAnnotations()` will return an empty array. `B` is not `@Immutable`. Therefore, `ImmutabilityChecker#after` aspect won't bind to a `new B()` invocati

[2015-02-02 22:33] yegor256 commented on #132
@maurezen adding `@Inherited` sounds like a good idea!

[2015-02-02 22:34] yegor256 commented on #132
@maurezen which code doesn't work as expected? can you show an example?

[2015-02-02 22:51] maurezen commented on #132
@yegor256 please see `ImmutableTest#catchesMutableTypesWithImplementationOfImmutableInterface` earlier in the thread. There an anonymous implementation of `@Immutable` is expected to be treated as `@Immutable`, while it actually should not be.

[2015-02-02 22:56] yegor256 commented on #132
@maurezen post a code example again pls if you want it to be reconsidered. try to save your time and my time. if you need a problem to be solved, try to explain it with all details and present it properly. we discourage generic discussions.

[2015-02-03 10:19] maurezen commented on #132
@yegor256 okay.
`ImmutabilityChecker#after` is an aspect which catches instantiations of `@Immutable` classes:
[code]
Let's take a look at the following code now:
[code]

Why is the exception expected? Here `impl.getClass().getAnnotations()` will return an empty array. `impl` is not `@Immutable`. Therefore, `ImmutabilityChecker#after` aspect won't bind to the `impl` initialization and the test sho

[2015-02-03 14:27] yegor256 commented on #132
@maurezen this code triggers the AspectJ advice: `new MutableWithImmutableInterface()`. Once it's triggered, we go deeper through the object hierarchy checking every property of every object. As soon as find anything mutable, we raise an exception.

[2015-02-03 14:41] maurezen commented on #132
@yegor256 so we find a private final property `impl` of `@Immutable` type, which is fine. The anonymous class that `impl` is initialized to is not a property of the `MutableWithImmutableInterface` and it won't be checked.

[2015-02-03 23:06] yegor256 commented on #132
@maurezen now I see what you mean. You should have just deleted the tests in the original ticket and that's it

[2015-02-03 23:10] maurezen commented on #132
@yegor256 can't do that if I don't understand the intention of the test and implementation, right? Having checked that I do, I can delete them.

[2015-02-03 23:25] maurezen commented on #131
@yegor256 @dmarkov created a pull request here #135

[2015-02-03 23:27] yegor256 commented on #132
@maurezen for the future, keep in mind that it's better to test your assumptions with a pull request instead of a question. if you're not sure, make some minimum changes and send a pull request. if it will be accepted, you were right and can move one. if it will be reject, you will get the answer and will change you direction.

[2015-02-08 15:28] nhekfqn commented on #133
@dmarkov PR created https://github.com/jcabi/jcabi-aspects/pull/136

[2015-02-08 19:39] maurezen commented on #131
@dmarkov @yegor256 pull request #135 merged to master, please close the issue.

[2015-02-09 09:40] playing opened #137 "建议"
使用成功,但是我个小小的建议,我在使用时,有时会有一个比较复杂的返回值,这时我不想在logger中输出,我发现代码中并没有这个开关,个人觉得在代码中加个"是否输出返回值"的开关或许使用更方便

[2015-02-09 10:09] playing opened #138 "suggest"
Successful, but I have a little advice. Sometimes there would be a more complex return value when I used, so I didn't want to output in logger. I viewed the code and didn't find the switch of whether to output the return value. I feel that the switch may use more convenient.

[2015-02-09 21:58] yegor256 commented on #138
@playing you can use `skipReturn` flag:

[code]

[2015-02-09 21:59] yegor256 commented on #137
@playing я не понял о чем ты, объясни подробнее

[2015-02-10 02:14] #137 closed

[2015-02-10 02:15] playing commented on #138
@yegor256 thank you, I find "skipResult" in the annocation.

[2015-02-10 04:22] yegor256 commented on #138
@playing glad it helped. please close the ticket

[2015-02-10 07:09] dmarkov commented on #104
the last puzzle `104-259d589d`/#118 solved

[2015-02-10 07:27] nhekfqn commented on #133
@dmarkov related PR has been merged.

[2015-02-10 08:23] maurezen commented on #131
@dmarkov @yegor256 ping. please close the issue.

[2015-02-11 09:04] #138 closed

[2015-02-12 11:42] nhekfqn commented on #133
@dmarkov can we please close the ticket?

[2015-02-12 21:46] maurezen commented on #131
@dmarkov @yegor256 ping. please close the issue.

[2015-02-13 02:21] Agathia opened #139 "Class-level Loggable annotation not woven by Maven plugin"
Hi

I am in the process of converting my ANT-based webapp project to use Maven and am having trouble getting the **Loggable** annotation working where it is defined at the class level.

It would appear that when **Loggable** annotation is set on the class, the weaving isn't taking place, but when **Loggable** is set on a method, it works just fine.

The class-level annotations worked without issue

[2015-02-13 18:00] yegor256 commented on #139
@Agathia when being used at class level, `@Loggable` doesn't touch `protected` and `private` methods. Only `public` methods are logged. I think this is where the problem is.

[2015-02-13 18:06] yegor256 commented on #139
@Agathia btw, instead of that static `LOG`, you can use Logger from jcabi-log, see: http://log.jcabi.com/

[2015-02-13 22:49] yegor256 commented on #49
@dmarkov assign somebody else here pls

[2015-02-13 23:01] maurezen commented on #131
@dmarkov @yegor256 ping. please close the issue.

[2015-02-13 23:06] dmarkov commented on #133
Closing, thanks all

[2015-02-13 23:06] #133 closed

[2015-02-13 23:09] dmarkov commented on #131
@maurezen Many thanks! **30 mins** were added to your account in Transaction ID `51644587`... +30 added to your rating, at the moment it is: [+1155](http://www.netbout.com/b/35102?open=rating)

[2015-02-13 23:09] dmarkov commented on #133
@nhekfqn Thanks so much! Your account was topped up for **30 mins** (transaction ID is `51644598`); +30 added to your rating, at the moment it is: [+165](http://www.netbout.com/b/35123?open=rating)

[2015-02-14 06:02] Agathia commented on #139
Hi @yegor256

Thanks for your fast response! Changing those private methods to public made a difference in my simple app, but in my main app it is still not working for public methods.

One thing that I have noticed is that when I start the minimal app (`mvn clean compile jcabi:ajc jetty:run`) and access the servlet with the `Loggable` annotation, the following statement is printed to STDOUT:

[2015-02-14 07:14] yegor256 commented on #139
@Agathia I'm not sure what you mean by "load-time". Let's try step by step. First, place jcabi-maven-plugin into `plugins` section. Now it's in `pluginManagement`, which is wrong.

[2015-02-14 08:21] Agathia commented on #139
@yegor256 OK, I moved the plugin out of `<pluginManagement>` and now it is logging correctly! I am really grateful for your help and fast responses, thanks!

The reason I moved it into `<pluginManagement>` was because it was suggested on StackOverflow as a fix to an error that I was/am seeing in Eclipse:
`Plugin execution not covered by lifecycle configuration: com.jcabi:jcabi-maven-plugin:0.12:aj

[2015-02-14 19:07] yegor256 commented on #139
@Agathia it's something you should figure out between you and Eclipse :) I've seen this error many times and I don't know how to fix it. I think that Eclipse just can't understand our plugin. If you find a solution, let me know. In the mean time, please close this ticket if the problem is solved. Thanks for using our lib :)

[2015-02-14 23:43] Agathia commented on #139
@yegor256 Thanks again for your support. Love the lib!

[2015-02-14 23:43] #139 closed

[2015-02-15 00:00] Agathia commented on #139
@yegor256 Just found this thread on (http://stackoverflow.com/a/6372575StackOverflow) showing the same issue with a different plugin. With the snippet below in my `pom.xml`, the error goes away and the build still works correctly. This is in addition to having the jcabi-maven-plugin defined outside of the `<pluginManagement>` element.

[code]

[2015-02-15 03:50] yegor256 commented on #139
@Agathia wow, thanks for the hint. How about we make a page on our website (aspects.jcabi.com) with a page for Eclipse users and this example you just showed? Can you make it and submit a pull request? All users will benefit from this knowledge :)

[2015-02-16 07:34] dmarkov commented on #49
@yegor256 got it, someone else will be assigned soon

[2015-02-16 07:35] dmarkov commented on #131
Thanks all, closed

[2015-02-16 07:35] #131 closed

[2015-02-19 21:29] yegor256 commented on #109
@longtimeago 0.21.1 is the latest one and it includes these changes

[2015-02-19 21:35] longtimeago commented on #109
@yegor256 Thank you!

[2015-02-22 02:47] carlosmiranda commented on #34
@dmarkov I need you to assign someone else, sorry.

[2015-02-23 08:15] dmarkov commented on #34
@carlosmiranda someone else will help in this task, no problem at all

[2015-02-23 08:16] dmarkov commented on #49
@nhekfqn it's yours, please go ahead

[2015-02-26 09:56] aksdroid opened #141 "Require to use this in gradle"
Hello,

I am using gradle for build script.
I can see your have maven plugin and example for the same.
But nothing for gradle.

Can you guys point me to gradle plugin for jcabi binary weaving or any alternative way to use this in gradle build ?

Thanks a lot and great work!

[2015-02-27 07:14] dannybaby opened #142 "What's wrong with my project? Loggable doesn't work"
I am using springmvc project.
my pom.xml is below:

        <dependency>
            <groupId>com.jcabi</groupId>
            <artifactId>jcabi-aspects</artifactId>
            <version>0.21</version>
        </dependency>
        <dependency>
            <groupId>org.aspectj</groupId>
            <artifactId>aspectjrt</artifactId>
            <version>1.8.3</version>
        </dependency>

[2015-02-27 09:20] dmarkov commented on #109
the last puzzle `109-bb540c79`/#121 solved

[2015-02-27 12:04] aksdroid commented on #141
I have used ant ijac task to weave binary post compile and its working. Thanks

[2015-03-02 02:44] dannybaby commented on #106
@praveennsubu Hi, I think I have got the similar problem as yours ,can you help me fix it?
https://github.com/jcabi/jcabi-aspects/issues/142

[2015-03-13 17:58] mikecirioli opened #143 "Example of how to do compile time weaving for web application deployed under JBoss?"
I have struggled for 2 days trying to get `@Loggable` annotation working in my JBoss web application.  Maven appears to correctly compile and weave the classes, but i am unable to get JBoss to use them.

My JAVA_OPTS are:

[code]

my aop.xml is:

[code]

If i uncomment the line:

[code]

then i get errors complaining that com.jcabi.aspects.Loggable is not an aspect.  If i leave it commented out, i

[2015-03-16 09:14] dmarkov commented on #128
the last puzzle `128-1ba0b794`/#131 solved

[2015-03-16 09:14] dmarkov commented on #124
last puzzled solved `124-0ed2a036`/#133

[2015-03-18 13:11] snowcamel opened #144 "How to make it work on android?"
Can you please write a short guide describing the steps required to get a Loggable anootation running on android code.
Thanks

[2015-03-27 21:52] rquimosing opened #145 "Specify annotation values from property file ala Spring"
It would be helpful if jcabi-aspects supported pulling data from property files in its annotations, similar to Spring:

@Value("${systemProperties.myValue}")

Ex:
@RetryOnFailure(attempts=${systemProperties.myMethod.attempts}, delay=${systemProperties.delay})

I have this specific use-case where I don't want to hardcode values in the annotation.

[2015-04-07 07:17] dmarkov opened #146 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 08:35] dmarkov opened #147 "0.22"
Please, publish a new release **0.22** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-07 12:34] dmarkov opened #148 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-04-08 00:47] jhansoty73 opened #149 "Can @Loggable log exceptions at the configured log level?"
For a method annotated with `@Loggable(Loggable.DEBUG)` the method entry and exit messages use the configured log level, DEBUG in this case, but if the method throws an exception then a message gets logged at the ERROR level.

For an exception that propagates up a call stack, this will result in multiple ERROR logs. I really want the ERROR log, if needed, be generated by the code that eventually h

[2015-04-13 08:39] sliskipl opened #150 "Logging overloaded method throw ClassCastExcetpion"
I have some class with overloaded methods and when i try to log this method i get ClassCastException, here is example

[code]
What i get is that cannot cast from anotherDTO to someDTO

[2015-04-17 07:55] johhy opened #151 "How make shot name class ex com.rfg.hjk.....ClassName to simple ClassName in output as parameter and result"

[2015-04-17 07:58] johhy opened #152 "I like @Loggable is in plan filter output objects fields"

[2015-04-25 07:41] jkamaraj opened #153 "Error: java.lang.UnsatisfiedLinkError: android.util.Log.isLoggable(Ljava/lang/String;I)"
Hi Team,

I am trying to use jcabi and slf4j to log all the Android methods in my code but it fails with the below error.
Not sure whether it is a bug or my mistake?
====================================================================

org.aspectj.lang.NoAspectBoundException: Exception while initializing com.jcabi.aspects.aj.MethodLogger: java.lang.UnsatisfiedLinkError: android.util.Log.isLoggable

[2015-04-25 08:07] jkamaraj commented on #153
My pom.xml entries.

    <dependency>
      <groupId>com.jcabi</groupId>
      <artifactId>jcabi-aspects</artifactId>
      <version>LATEST</version>
    </dependency>
    <dependency>
      <groupId>org.aspectj</groupId>
      <artifactId>aspectjrt</artifactId>
      <version>LATEST</version>
    </dependency>
    <dependency>
        <groupId>org.slf4j</groupId>
        <artifactId>slf4j-android

[2015-05-08 21:39] brusand opened #154 "no log with last version"
Hi,

i use last versions of your lib and plugin , the closure file are generated (and embeded in the jar) but no  log are printed. i use SJF4J for my app logs (ok) and launch my webapp with springboot.

any idea ?
my pom extract

	<build>
		<plugins>
			<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-compiler-plugin</artifactId>
				<version>3.2</version>
				<config

[2015-05-09 18:14] yegor256 opened #155 "RetryOnFailure.ignore"
Let's add `RetryOnFailure.ignore` attribute

[2015-05-09 18:50] yegor256 commented on #155
@rultor release, tag is `0.22`

[2015-05-09 18:51] rultor commented on #155
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3720-100529569)

[2015-05-09 19:02] rultor commented on #155
Release `0.22` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-05-09 19:02] rultor commented on #155
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3720-100529569) (took me 11min)

[2015-05-09 19:03] #155 closed

[2015-05-12 07:47] dmarkov commented on #147
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-13 15:25] sdoca opened #156 "Wrong Class Name Logged"
I have included the jcabi-aspects in my Maven project with these dependencies:

<dependency>
    <groupid>com.jcabi</groupid>
    <artifactid>jcabi-aspects</artifactid>
    <version>0.21.1</version>
</dependency>
<dependency>
    <groupid>org.aspectj</groupid>
    <artifactid>aspectjrt</artifactid>
    <version>1.8.5</version>
</dependency>

I annotated the class with the Loggable annotation like

[2015-05-14 04:43] yegor256 commented on #156
@sdoca this sounds very strange. try to remove that `logger` property, it is not required.

[2015-05-14 07:24] dmarkov commented on #147
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-14 14:17] sdoca commented on #156
I have tried with and without and get the same result.

[2015-05-20 07:29] dmarkov commented on #34
@yamstranger the issue is yours, please help

[2015-05-20 07:29] dmarkov commented on #49
@super132 it's your task, go ahead

[2015-05-21 06:52] super132 opened #157 "Arrays immutability assertion options"
In #49 , we try to create an aspect which checks if an array field in a class is immutable by perform checking on setting new values to the array. Based on the link [bug link](https://bugs.eclipse.org/bugs/show_bug.cgi?id=157031) from AspectJ, up to this moment AspectJ does NOT support array field checking pointcut. However, there is a work done to have array point cut for get / set operations on

[2015-05-21 06:53] super132 commented on #49
@dmarkov , this task is waiting for #157. Thanks.

[2015-05-21 08:23] dmarkov commented on #49
@super132 ok, let's wait for #157

[2015-05-22 06:34] super132 commented on #157
@yegor256 , may I have your advice on decision of handling array immuatability ? Thanks.

[2015-05-23 00:07] yegor256 commented on #157
@super132 many thanks for the analysis you made... unfortunately, none of these options look good to me :( I think we should just postpone task #49 for unknown amount of time.

[2015-05-23 02:02] super132 commented on #157
@yegor256 understood. Should we keep this ticket open as well ?

[2015-05-23 02:03] super132 commented on #49
@dmarkov , as per advised by @yegor256 in #157 , this ticket should be postponed for unknown amount of time. Thanks.

[2015-05-25 11:29] super132 commented on #49
@dmarkov , since this issue is going to be on hold for unknown amount of time. Would you consider this to be "postponed" and free this up from my task list? Will I get paid as well? Thanks.

[2015-05-25 19:47] yegor256 commented on #157
@super132 no, this one is not a valid bug, it's more a discussion ticket. I think you should just close it

[2015-05-25 19:47] yegor256 commented on #49
@dmarkov please postpone this issue

[2015-05-26 00:18] super132 commented on #157
@yegor256 . understood. I'm closing it. Thanks.

[2015-05-26 00:18] #157 closed

[2015-05-26 06:06] jhansoty73 commented on #151
The short class name in the log messages come from your logging implementation. Springboot uses Logback which abbreviates the class names if they go past a pre-configured length. You can change this by specifying the %logger conversion pattern in a logback.xml

In the example below, the class names are condensed to 36 characters or less. Removing the number will show the full class name

    <enco

[2015-05-26 07:47] dmarkov commented on #49
@yegor256 thanks, I added the "postponed" tag

[2015-05-26 07:47] dmarkov commented on #49
@yegor256 no problem, I will try to find somebody else

[2015-05-26 10:18] dmarkov commented on #49
@yegor256 FYI, the issue we were waiting for (#157) is fixed

[2015-05-28 05:52] YamStranger commented on #34
@dmarkov assign to someone else. Sorry.  It seems I was in @away mode when this task was assigned. @yegor256 can you check it please? Thanks.

[2015-05-28 07:02] dmarkov commented on #34
@yamstranger 30 points was deducted from your rating

[2015-05-28 07:02] dmarkov commented on #34
@yamstranger right, I'll try to find someone else for this task

[2015-06-01 07:15] dmarkov commented on #148
@yegor256 The issue should be closed..

[2015-06-01 07:15] #148 closed

[2015-06-01 12:30] dakbhavesh opened #158 "Logger is tightly coupled to SLF4J"
I find this API quite useful. Only one thing which is holding me up from using it is that its tightly coupled with SLF4J logger. Is there any way I can tell use org.apache.commons.logging.Log instead of org.slf4j.Logger.
Logger class is not final so we can override the implementation.
Would be great if user can use any logger framework.

"Code quality is really nice. Appreciate it."

[2015-06-02 06:23] dakbhavesh commented on #142
Any update on this issue? I was facing the same issue. It seems logging configuration should be of SLF4J.

[2015-06-02 12:11] piyusht007 opened #159 "Need a sample maven project which uses @Loggable."
Hi,
I was trying to include jcabi aspects in my project however due to some reason I am not able to see the logs. It will be very grateful If somebody can provide a sample maven project from which I can see the logs in eclipse console or in the log file.

Just a class and a method with @Loggable annotation over it will serve the purpose. This library seems very useful and I am looking forward for

[2015-06-03 07:26] dmarkov commented on #49
@yamstranger it's yours, please go ahead

[2015-06-03 10:19] dsteinkopf commented on #142
It seems I am having the same (similiar?) problem.

What does the ouput "1 fail|abort, 1 error" (see above log output after "started new daemon...") mean? I am also getting this line and see no logging.

Thank You!

[2015-06-03 10:24] dsteinkopf commented on #154
see #106 - maybe the same problem (which I am also experiencing)

[2015-06-04 08:50] dmarkov commented on #146
@yegor256 The issue is closed

[2015-06-04 08:50] #146 closed

[2015-06-04 08:50] dmarkov commented on #147
@yegor256 Closing..

[2015-06-04 08:50] #147 closed

[2015-06-04 17:17] simonjenga opened #160 "Tv(time values) shouldn't be a Constants Interface"
The ```Constants Interface``` is usually not recommended as a good design practice.

Perharps ```com.jcabi.aspects.Tv``` should be a ```final``` class with a ```private``` default constructor to ensure non-instantiability.

In doing so, we would not be breaking any existing functionality with any classes that depend on it and also, we would prevent any future accidental implementations of ```com.j

[2015-06-05 04:33] simonjenga opened #161 "Lines in file should end with Unix-like end of line"
[code]

[2015-06-05 10:31] Suseika commented on #102
@yegor256 This ticket is still open, shouldn't it be closed by now?

[2015-06-05 16:27] yegor256 commented on #102
@Suseika you're right, closing

[2015-06-05 16:27] #102 closed

[2015-06-06 15:05] YamStranger commented on #49
@dmarkov Please check #157 ticket. It is not fixed, just closed. Just check this comment "@super132 many thanks for the analysis you made... unfortunately, none of these options look good to me :( I think we should just postpone task #49 for unknown amount of time."  and next "@super132 no, this one is not a valid bug, it's more a discussion ticket. I think you should just close it". So it is not

[2015-06-06 21:47] wangduqing opened #162 "I following this, But appearance a wrong!"
[code]

[code]

[2015-06-06 21:50] wangduqing commented on #162
why!you can tell me!

[2015-06-06 21:50] wangduqing commented on #162
my english very weak!

[2015-06-06 21:51] wangduqing commented on #162
i am chinase people

[2015-06-07 06:28] YamStranger commented on #49
@dmarkov please postpone this issue

[2015-06-08 23:59] yegor256 commented on #49
@dmarkov pls postpone this task

[2015-06-10 09:30] simonjenga commented on #161
fixed https://github.com/jcabi/jcabi-aspects/pull/163
[code]

[2015-06-10 09:31] simonjenga commented on #161
@dmarkov Transaction ID for this issue?

[2015-06-15 07:31] dmarkov commented on #34
@bertram25 This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here; The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-06-15 07:31] dmarkov commented on #154
@yegor256 please dispatch this issue

[2015-06-15 07:31] dmarkov commented on #158
@yegor256 please pay attention to this issue

[2015-06-15 07:31] dmarkov commented on #159
@yegor256 dispatch this issue please

[2015-06-15 07:31] dmarkov commented on #160
@yegor256 please pay attention to this issue

[2015-06-15 07:31] dmarkov commented on #162
@yegor256 dispatch this issue please

[2015-06-15 07:31] dmarkov commented on #143
@yegor256 please dispatch this issue

[2015-06-15 07:31] dmarkov commented on #144
@yegor256 dispatch this issue please

[2015-06-15 07:31] dmarkov commented on #145
@yegor256 please pay attention to this issue

[2015-06-15 07:31] dmarkov commented on #149
@yegor256 please pay attention to this issue

[2015-06-15 07:31] dmarkov commented on #150
@yegor256 please do something about this issue

[2015-06-15 07:31] dmarkov commented on #151
@yegor256 dispatch this issue please

[2015-06-15 07:31] dmarkov commented on #152
@yegor256 please pay attention to this issue

[2015-06-15 07:31] dmarkov commented on #153
@yegor256 please do something about this issue

[2015-06-15 07:31] dmarkov commented on #141
@yegor256 please dispatch this issue

[2015-06-15 07:31] dmarkov commented on #142
@yegor256 please dispatch this issue

[2015-06-15 10:18] #144 closed

[2015-06-16 15:40] simonjenga opened #165 "References to generic types should be parameterized"
```com.jcabi.aspects.aj.MethodScheduler.instantiate(JoinPoint)``` at
```else if (object instanceof Callable) {```

```com.jcabi.aspects.aj.MethodAsyncRunner.wrap(ProceedingJoinPoint)``` at
```if (result instanceof Future) {````

[2015-06-18 17:35] simonjenga opened #166 "ParallelException#getNext() is never used locally"
The method ```getNext()``` from the type ```Parallelizer.ParallelException``` is never used locally
at ```com.jcabi.aspects.aj.Parallelizer.ParallelException#getNext()```

[2015-06-22 07:30] dmarkov commented on #166
@yegor256 dispatch this issue please

[2015-06-22 07:30] dmarkov commented on #165
@yegor256 dispatch this issue please

[2015-06-23 14:15] diwakartimilsina commented on #100
I am facing the same issue. We are not able to upgrade to Maven 3 for our project anytime soon. Could you please fix this issue for Maven 2? Would appreciate it very much.

[2015-06-23 22:50] Bertram25 commented on #34
@yegor256 Hi, I've made a few semi-working tries but I'm stuck in the middle ~3/4 of the road here.
Speaking of the JSR-303 API method value validation isn't enough IMHO. It doesn't tell whether we can/should? replace the main functions signatures of the MethodValidator class to fit more the standard Validator class, (which is the validator implementation of the corresponding Validator interface a

[2015-06-24 01:27] yegor256 commented on #34
@dmarkov assign someone else pls

[2015-06-24 01:46] yegor256 commented on #158
@dakbhavesh that's what SLF4J is for - to give you an ability to use any logging facility you like. Just add a connector between SLF4J and common logging and you're done. more information here: http://www.slf4j.org/manual.html

[2015-06-24 01:46] #158 closed

[2015-06-24 01:46] yegor256 commented on #160
@simonjenga I believe it's fixed in #164 and we can close this ticket?

[2015-06-24 08:15] dmarkov commented on #34
@yegor256 30 points was deducted from your rating

[2015-06-24 08:16] dmarkov commented on #34
@yegor256 I will assign somebody else to this issue

[2015-06-26 00:08] yegor256 commented on #153
@jkamaraj I don't know what is that... seems to be a problem with SLF4J and Android logging integration. it's outside of scope of jcabi-aspects..

[2015-07-01 20:58] yegor256 commented on #151
@johhy was your question answered above?

[2015-07-03 16:22] yegor256 commented on #154
@brusand it seems that your SLF4J is not configured. See this: http://www.slf4j.org/manual.html

[2015-07-03 16:56] yegor256 commented on #141
@aksdroid I think we should move this issue to jcabi-maven-plugin project. Could you please close it here and open there: https://github.com/jcabi/jcabi-maven-plugin/issues

[2015-07-03 16:59] yegor256 commented on #162
@wangduqing this is not relevant to our project. You're using AspectJ directly, you should submit this issue to them.

[2015-07-03 16:59] #162 closed

[2015-07-04 09:57] #160 closed

[2015-07-08 11:51] dmarkov commented on #34
@suseika please proceed, it's yours

[2015-07-08 16:12] Suseika opened #167 "src/main/java is marked as a resources directory"
In  `/pom.xml`, in `<build>` section, `/src/main/java` directory is marked as a resources directory. Because of that IntelliJ IDEA doesn't recognize its contents as source code and it is impossible to work with those sources.

If that directory contents is indeed supposed to be resources, then it shouldn't be named `/src/main/java`, because by Maven standards `/src/main/java` must be a source dire

[2015-07-08 16:28] Suseika commented on #167
I see that this is done in order to use project version and build number in logs (see, for example, `ImmutabilityChecker` class for string `${project.version}/${buildNumber}`).

For me this seems to be a wrong approach. If we absolutely need to do such source code processing, then this should be done with _source processing tools_. Instead we pretend that the sources are resources, and IDE believe

[2015-07-08 17:44] Suseika commented on #167
By the way, removing `/src/main/java` from the list of resource directories doesn't break the build, so either that resource filtering is absolutely redundant, or we're lacking unit tests for the functionality that was achieved with that resource filtering.

[2015-07-08 18:11] Suseika opened #168 "JointPointUtils is a utility class, it can be replaced with a decorator for JoinPoint"
`JoinPoint` is an interface, so it is a perfect candidate for decoration if we need to add additional responsibilities to its instances. However, in this project we have a utility class `JoinPointUtils`. This is a bug, there should be a decorator like `ImprovedJoinPoint` or something instead.

[2015-07-09 14:28] nachtighall opened #170 "Can You please share working Maven project with @Loggable"
Hi there, i'm trying to use jcabi-aspects in my project and have spent a lot of time trying to make it work, but it doesn't.
Please be so kind to share any simple Maven prject with using @Loggable.
I'm interested in pom.xml .classpath etc.

Thank You in advance,
Mark

[2015-07-13 07:37] dmarkov commented on #170
@yegor256 please pay attention to this issue

[2015-07-13 07:37] dmarkov commented on #167
@yegor256 please do something about this issue

[2015-07-13 07:37] dmarkov commented on #168
@yegor256 please do something about this issue

[2015-07-13 07:47] nachtighall opened #171 "package com.jcabi.aspects does not exist"
I have this error - *package com.jcabi.aspects does not exist*, after i added *test* goal to
[code]
But com.jcabi.aspects is accessible. Any ideas what it could be? I'm running **mvn test**

[2015-07-13 17:27] yegor256 commented on #168
@Suseika totally agree, thanks!

[2015-07-13 17:28] yegor256 commented on #167
@Suseika it's a valid concern, thanks. I'm not sure how to solve this right, but the bug is there, definitely

[2015-07-13 17:29] yegor256 commented on #170
@nachtighall this project, for example: https://github.com/yegor256/rultor

[2015-07-13 17:29] yegor256 commented on #170
@nachtighall here is jcabi-aspects annotation: https://github.com/yegor256/rultor/blob/1.56.2/src/main/java/com/rultor/Entry.java#L125

[2015-07-13 17:31] Suseika commented on #167
@yegor256 There is `replacer` plugin: https://code.google.com/p/maven-replacer-plugin/, I think it is just the right tool for the job.

[2015-07-13 17:32] yegor256 commented on #170
@nachtighall `@Loggable` is not used in Rultor though. This project is using `@Loggable`: https://github.com/yegor256/netbout (almost each class is annotated)

[2015-07-13 17:35] yegor256 commented on #167
@Suseika perfect

[2015-07-13 17:35] yegor256 commented on #167
@dmarkov assign @Suseika to this task pls

[2015-07-13 23:36] yegor256 commented on #152
@johhy what exactly do you have in mind? can you give an example?

[2015-07-13 23:54] yegor256 commented on #149
@jhansoty73 yes, we should fix this, thanks

[2015-07-14 00:23] yegor256 commented on #142
@dannybaby indeed the problem is here:

[code]

for some reason, your `.class` files are not being woven...

[2015-07-14 00:23] yegor256 commented on #142
@dannybaby what is the version of Maven and JDK?

[2015-07-14 08:01] dmarkov commented on #167
@yegor256 OK @suseika please go ahead, this task is yours

[2015-07-14 08:03] dmarkov commented on #168
@suseika thanks for the report, I topped your acc for 15 mins, payment ID `AP-2KW98265E1112030E`

[2015-07-14 09:05] dmarkov commented on #167
@suseika many thanks for the report, I topped your account for 15 mins, transaction AP-8RL384953P6408434

[2015-07-14 09:56] nachtighall commented on #170
Thank you @yegor256 , i will have a look. Hope it would help me.

[2015-07-14 10:50] nachtighall commented on #170
I made changes in my project and i don't have errors anymore, but also i don't see logs. Maybe i need to attach some kind of reported etc. - i mean maybe just use @Loggable is not enough?

[2015-07-14 11:12] nachtighall commented on #170
Now i get ```javascript java.lang.RuntimeExeption: Cannot register non aspect com$jcabi$aspects$aj$MethodLogger$class , com.jcabi.aspects.aj.MethodLogger.class. ```

Where should i put aop-ajc.xml? with

[code]

[2015-07-14 22:10] Suseika commented on #34
@dmarkov I need more time

[2015-07-14 22:24] yegor256 commented on #170
@nachtighall you don't need this XML file anywhere. everything should work without any additional configuration. just `jcabi-maven-plugin` in `pom.xml` and that's it. see how it works in the projects I mentioned.

[2015-07-15 07:09] dmarkov commented on #34
@suseika yeah, I know, take your time

[2015-07-16 09:52] dmarkov commented on #171
@yegor256 please dispatch this issue

[2015-07-20 19:49] Suseika commented on #167
@dmarkov I need more time on this task

[2015-07-20 19:52] Suseika commented on #167
@yegor256 I'm not sure why, but for some reason I got removed from this task the moment I posted the last message. Can I get assigned back?

[2015-07-21 07:38] dmarkov commented on #167
@suseika of course, take your time

[2015-07-22 15:13] YamStranger commented on #49
@dmarkov please postpone this issue

[2015-07-23 07:47] dmarkov commented on #34
@rultor rultor closed it by mistake, @dmarkov please take a look

[2015-07-23 08:11] Suseika commented on #34
@dmarkov Closed in #169

[2015-07-23 18:20] yegor256 commented on #167
@Suseika you're still assigned here, see the tag with your name attached (the green one)

[2015-07-23 21:57] yegor256 commented on #49
@dmarkov postpone this

[2015-07-24 07:18] dmarkov commented on #34
@suseika will close it right after the next deployment cycle (if you removed the puzzle)

[2015-07-24 07:18] dmarkov commented on #49
@yamstranger OK, will do

[2015-07-24 07:18] dmarkov commented on #49
@yegor256 sure, thanks, I added "postponed" label to it

[2015-07-24 07:18] dmarkov commented on #49
@yegor256 all right, we'll find someone else for this task

[2015-07-24 10:47] dmarkov opened #173 "JSR303Test.java:61-64: When I replaced our own..."
Puzzle `169-0e4b9121` in `src/test/java/com/jcabi/aspects/JSR303Test.java:61-64` has to be resolved: When I replaced our own validation with that of hibernate-validator for #34, this test stopped working in openJDK6, but remained working in all the other JDKs we're using on Travis CI. This test should pass without errors.... The puzzle was created by Suseika on 9-Jul-2015.

If you have any technic

[2015-07-27 07:48] dmarkov commented on #167
@rultor rultor closed it (automatically), @Suseika please take a look

[2015-07-27 07:48] dmarkov commented on #34
@yegor256 Finished, thanks, closing..

[2015-07-27 07:48] #34 closed

[2015-07-27 07:50] dmarkov commented on #34
@suseika **30 mins** was added to your account, many thanks for your contribution (payment AP-6GF00171S2394381S)! The task took 382 hours and 57 mins.; added +30 to your rating, now it is equal to [+458](http://www.netbout.com/b/35381?open=rating)

[2015-07-27 10:03] Suseika commented on #167
@Suseika Everything's good. Thanks!

[2015-07-27 10:03] #167 closed

[2015-07-28 09:11] dmarkov opened #174 "ImmutabilityChecker.java:65-68: Inserting correct version/buildnumber here and..."
Puzzle `167-78e42157` in `src/main/java/com/jcabi/aspects/aj/ImmutabilityChecker.java:65-68` has to be resolved: Inserting correct version/buildnumber here and in other instances where Version.CURRENT is used (not only in this class, but in every class that uses Version.CURRENT) should be covered by a test.... The puzzle was created by Suseika on 21-Jul-2015.

If you have any technical questions,

[2015-07-28 09:11] dmarkov commented on #167
@suseika the code made here contains a puzzle `167-78e42157`/#174, which will be resolved soon

[2015-07-28 11:14] dmarkov commented on #167
@suseika I added **30 mins** to your account, many thanks for working with the project! The completion time here was AP-3P1371553V2970054.. +30 added to your rating, at the moment it is: [+503](http://www.netbout.com/b/35381?open=rating)

[2015-08-24 10:28] PalakArora opened #176 "@Loggable not working for class with public methods"
Hi,
I am using logback and jcabi-aspects for logging. The @Loggable annotation is working fine with methods. But nothing is happening when i use the same with class.

[code]

Please help @yegor256

[2015-08-24 17:20] yegor256 commented on #176
@PalakArora should work fine in both cases... are you sure it doesn't work? are you sure all methods are `public`?

[2015-08-28 08:51] PalakArora commented on #176
ya, its working fine

[2015-08-28 08:51] #176 closed

[2015-08-28 08:55] PalakArora opened #177 "jcabi pom dependency issue"
Hi,

I have done the following configuration in pom.xml for jcabi

               <dependency>
			<groupId>com.jcabi</groupId>
			<artifactId>jcabi-aspects</artifactId>
			<version>0.12</version>
		</dependency>
  	   	<dependency>
     	 	<groupId>org.aspectj</groupId>
     	 	<artifactId>aspectjrt</artifactId>
     	 	<version>1.7.3</version>
   	 	</dependency>
   	 	<dependency>
 			<groupId>c

[2015-08-28 11:49] yegor256 commented on #177
@PalakArora why do you think the exception is related to jcabi-aspects?

[2015-08-28 11:55] PalakArora commented on #177
@yegor256 as soon as i add the following dependency:
<dependency>
			<groupId>com.jcabi</groupId>
			<artifactId>jcabi-aspects</artifactId>
			<version>0.12</version>
		</dependency>

the error starts appearing

[2015-08-28 12:01] yegor256 commented on #177
@PalakArora try to exclude `javax.validation:validation-api` from `com.jcabi:jcabi-aspects`

[2015-08-31 06:29] PalakArora commented on #177
If i exclude the dependency. MethodLogger class gives error

Exception in thread "main" org.aspectj.lang.NoAspectBoundException: Exception while initializing com.jcabi.aspects.aj.MethodLogger: java.lang.NoClassDefFoundError: javax/validation/ValidationException
	at com.jcabi.aspects.aj.MethodLogger.aspectOf(MethodLogger.java:1)
	at com.ev.p2p.logback.QueueProducer.main(QueueProducer.java:17)
Cause

[2015-08-31 06:30] PalakArora commented on #177
@yegor256 Please refer to the above comment

[2015-08-31 07:22] yegor256 commented on #177
@PalakArora you need to have that validation-api dependency in classpath, but there is a conflict between the one provided by Spring and the one inside jcabi-aspects. check what you have in classpath, using `mvn dependency:tree`

[2015-09-02 07:29] PalakArora opened #178 "Custom annotation using aspectj"
Hi @yegor256,

I am trying to write a custom annoation on the similar lines as @Loggable in jcabi.
I referred to the link: http://www.yegor256.com/2014/06/01/aop-aspectj-java-method-logging.html

After weaving, we got the following code:

[code]

My question is from where did  you get the variable "point"?
Thanks in advance

[2015-09-02 09:13] yegor256 commented on #178
@PalakArora I believe it's more a question for StackOverflow, not for this issue tracker :) You want to learn AspectJ, right? Ask question there and email me the link, I will try to help

[2015-09-02 09:13] #178 closed

[2015-09-04 20:28] kumarvijaypt opened #179 "Do not see the logs(using log4j) using @Loggable"
Hi,

I was trying to follow the link http://www.yegor256.com/2014/06/01/aop-aspectj-java-method-logging.html. However I was unable to find any logs.

Running with JavaSE-1.6
Details:
Project structure:
![image](https://cloud.githubusercontent.com/assets/8275966/9693736/532abea0-5370-11e5-9c45-4cad8528822f.png)

Pom:
  <properties>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncodi

[2015-09-04 22:22] kumarvijaypt commented on #106
@praveennsubu Hi, Can you please let me know what finally made @Loggable to log on file\console.  I think the issue that I am facing is also similar. Reorted it https://github.com/jcabi/jcabi-aspects/issues/179

Thanks for your help in advance

[2015-09-06 04:41] praveennsubu commented on #106
@kumarvijaypt Hey.. I never got the chance to look into the matter after that. But it seems the comment above yours has a possible solution. Do let me know if it eventually works for you though. Good luck! Cheers!

[2015-09-06 05:24] kumarvijaypt commented on #106
Managed to fix my POM. It works now!.

  <dependencies>
     <dependency>
      <groupId>com.jcabi</groupId>
      <artifactId>jcabi-aspects</artifactId>
      <version>0.22</version>
    </dependency>
    <dependency>
      <groupId>org.aspectj</groupId>
      <artifactId>aspectjrt</artifactId>
      <version>1.5.3</version>
    </dependency>
    <dependency>
        <groupId>org.slf4j</groupId>

[2015-09-06 05:27] kumarvijaypt commented on #179
I updated the pom. It started working

![image](https://cloud.githubusercontent.com/assets/8275966/9702645/030d9bba-5486-11e5-9b85-8f52268fa116.png)

[2015-09-06 05:28] kumarvijaypt commented on #179
@yegor256 Thanks for great lib. I loved it!

[2015-09-08 16:59] yegor256 commented on #179
@kumarvijaypt please close the ticket if everything is fine now. thanks for using the lib :)

[2015-09-10 05:54] miaozhang opened #180 "@Timeble Does not working !!!!!"
By following the instructions i have done below simple test . However , no effect at all.
when i click run , or even package it into a jar file and run from a run script, The annotation seems no effect since the program only print "Start"

The code :
import java.util.concurrent.TimeUnit;

import com.jcabi.aspects.Timeable;

public class Main {

	public static void main(String[] args) throws Interr

[2015-09-10 05:57] miaozhang commented on #180
Pom File:

 <dependencies>
 <dependency>
  <groupId>com.jcabi</groupId>
  <artifactId>jcabi-aspects</artifactId>
  <version>0.22</version>
</dependency>
<dependency>
  <groupId>org.aspectj</groupId>
  <artifactId>aspectjrt</artifactId>
  <version>1.6.12</version>
  <scope>runtime</scope>
</dependency>
</dependencies>

 <build>

<pluginManagement>
    <plugins>
      <plugin>
        <groupId>com.j

[2015-09-10 05:58] miaozhang commented on #180
"
 <dependencies>
 <dependency>
  <groupId>com.jcabi</groupId>
  <artifactId>jcabi-aspects</artifactId>
  <version>0.22</version>
</dependency>
<dependency>
  <groupId>org.aspectj</groupId>
  <artifactId>aspectjrt</artifactId>
  <version>1.6.12</version>
  <scope>runtime</scope>
</dependency>
</dependencies>

 <build>

<pluginManagement>
    <plugins>
      <plugin>
        <groupId>com.jcabi</gro

[2015-09-10 06:43] miaozhang opened #181 "Please Help me On Create A Demo"
I want to create a demo Maven project and use  `@Timeable(limit = 1, unit = TimeUnit.SECONDS) `

i have been follow the exact instructions the listed in http://aspects.jcabi.com/ .

However, Nothing happened regardless run from IDE or  From Maven Jar File. The Annotation been totoally ignored.

If there is some tricky things need to do inorder to see the effect, please tell me. And please give me

[2015-09-11 11:19] dmarkov commented on #173
@yamstranger this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here; The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-12 11:24] YamStranger opened #182 "Master build fail"
@dmarkov As I understand from issue #173 test fail under 1.6 java, but it seems that master build fail under 1.7.

Here is listing:

[code]

[2015-09-14 07:43] dmarkov commented on #180
@yegor256 dispatch this issue please

[2015-09-14 07:43] dmarkov commented on #181
@yegor256 please dispatch this issue

[2015-09-14 08:15] YamStranger commented on #182
If I exclude it from build (integration's tests) - build success, under Java 7

[2015-09-16 21:28] YamStranger commented on #173
@dmarkov this issue will be tested?

[2015-09-17 09:18] dmarkov commented on #173
@yamstranger @yegor256 I guess it's a question for you or @Suseika

[2015-09-17 09:22] dmarkov commented on #182
@yegor256 dispatch this issue please

[2015-09-17 09:26] yegor256 commented on #182
@YamStranger how can I reproduce this?

[2015-09-17 09:42] YamStranger commented on #182
@yegor256 I cloned repo, and run build. Integration test was fallen with "jcabi-aspects/jcabi-aspects/target/it/weaving/src/main/java/com/jcabi/Document.java:[41,14] Can't initialize javac processor due to (most likely) a class loader problem: java.lang.NoClassDefFoundError: com/sun/tools/javac/code/TypeTags". So All my fixes and pushes to this repo was done without integration tests, but with "ju

[2015-09-17 09:58] Suseika commented on #173
@YamStranger What do you mean by that?

[2015-09-17 10:06] YamStranger commented on #173
@Suseika @dmarkov  I mean, what status of this issue. Problem was, in "test should pass without errors...." it was fixed, tests are successful. What next? )

[2015-09-17 10:17] Suseika commented on #173
@YemStranger If you remove the `@Ignore` annotation under the todo and run the build in Travis, will it succeed? The issue is that this test is failing with a particular JDK on Travis.

[2015-09-17 10:52] YamStranger commented on #173
@Suseika I created pull request to prove it )

[2015-09-18 05:05] YamStranger commented on #173
@dmarkov is this issue fixed?

[2015-09-18 16:12] YamStranger commented on #173
@Suseika @dmarkov, merge merged successfully. Test complete successfully at all JDK 1.5-1.7. I think this issue already can be closed.

[2015-09-18 16:15] Suseika commented on #173
@YamStranger In order for it to be closed, you should post a comment to the author of the issue (in this case, to dmarkov) with a link to the PR where it was solved, saying that the task is done.

[2015-09-18 16:19] YamStranger commented on #173
@Suseika Thanks.

[2015-09-18 16:19] YamStranger commented on #173
@dmarkov this issue was fixed under #184 .  I think this issue already can be closed.

[2015-09-21 06:16] YamStranger commented on #173
@dmarkov ping )

[2015-09-21 08:19] dmarkov commented on #173
@yamstranger if you removed the puzzle, I will close the ticket right after the next deployment cycle

[2015-09-21 09:29] 54uso opened #185 "how can I deploy this project into my nexus"

[2015-09-21 09:37] 54uso opened #186 "If I define a new annotation in this project, how I can start it as starting Cacheable"
Like this:
[INFO] jcabi-aspects 0.18/55a5c13 started new daemon thread jcabi-cacheable for automated cleaning of expired @Cacheable values

I saw this log at terminal when I started project, but I define a new annotation like Cacheable didn't find log like this.

[2015-09-22 05:57] YamStranger commented on #173
@dmarkov deployment was successful. Would you like to close this issue? Thanks

[2015-09-22 10:08] YamStranger commented on #173
@dmarkov It seems that issue can be closed, but I Need More Time to be sure, and may be provide some fixes. Thanks

[2015-09-22 12:54] dmarkov commented on #173
@yamstranger of course, take your time

[2015-09-23 16:18] YamStranger commented on #173
@dmarkov deployment was successful. Would you like to close this issue? Thanks

[2015-09-24 05:39] Cervator commented on #177
I just hit what appears to be this issue as well. Am using a fairly typical Spring application.

I have `javax.validation:validation-api` on jcabi and hibernate as well with `org.hibernate:hibernate-validator` but unfortunately at the exact same version level. I tried excluding it anyway:

[code]

And the dependency tree only has it once now, as expected. But the error didn't change:

[code]

Admi

[2015-09-24 06:33] Cervator commented on #177
Oho! I dug a little deeper and found #102 which looks to be just a logged error with no impact, but matches the error message more exactly. That led me to the qulice fix of adding `hibernate-validator` as a plugin dependency, although to `jcabi-maven-plugin` rather than the qulice thing. So now I've got:

[code]

And it looks like it works!

[code]

Although I'm not sure if this matters (comes imm

[2015-09-24 09:47] dmarkov commented on #173
@yamstranger sure, will close soon if you removed the puzzle

[2015-09-24 09:48] dmarkov commented on #185
@yegor256 dispatch this issue please

[2015-09-24 09:48] dmarkov commented on #186
@yegor256 dispatch this issue please

[2015-09-24 09:51] YamStranger commented on #173
@dmarkov May be I do something wrong... This pazzle was removed in  PR #183 . Am I doing something wrong?

[2015-09-26 09:44] YamStranger commented on #173
@dmarkov I added reference to PR #183 where, as I think this pazzle closed.
For my opinion, puzzle is:
1) Build field under java 1.6 because of replacing our own validation with that of hibernate-validator for #34

So, I fix it in PR #183 , after that we cask about this from @Suseika , is this puzzle closed. He asked me try to build and run tests with removing "@Ignore" annotation to enable failed

[2015-09-26 18:08] yegor256 commented on #185
@54uso just package it using `mvn clean package` and then deploy artifacts to the Nexus, as you normally do with other artifacts

[2015-09-26 21:13] yegor256 commented on #186
@54uso I don't understand where exactly is a bug?

[2015-09-26 21:32] yegor256 commented on #182
@YamStranger so, it's just Windows+Java7 and build fails?

[2015-09-26 21:49] yegor256 commented on #180
@miaozhang can you run `mvn clean package` and post the log here?

[2015-09-26 21:49] yegor256 commented on #181
@miaozhang this seems to be a duplicate of #180

[2015-09-26 21:49] #181 closed

[2015-09-26 21:50] yegor256 commented on #171
@nachtighall please post full log from `mvn test`

[2015-09-27 02:43] yegor256 commented on #145
@rquimosing I have a different idea. How about we make it possible to specify negative values there:

[code]

When such a value is found, jcabi will try to load these properties:

[code]

What do you think?

[2015-09-27 15:57] 54uso commented on #186
@yegor256  Thank u for ur answer. I am sorry for the mistake i made before. Thank you.

[2015-09-27 15:57] #186 closed

[2015-09-27 16:01] 54uso commented on #185
@yegor256  I work it out with ur help. Thank u for ur answer.

[2015-09-27 16:01] #185 closed

[2015-09-28 07:08] dmarkov commented on #173
@yamstranger I don't see where you removed the puzzle, in #183

[2015-09-28 07:09] dmarkov commented on #168
@shelan it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more inf

[2015-09-28 07:09] dmarkov commented on #174
@pecko it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-09-28 07:13] YamStranger commented on #173
@dmarkov May be my understanding of puzzle is wrong, @Suseika can you help with it?

For my opinion, puzzle is:
1) Build field under java 1.6 because of replacing our own validation with that of hibernate-validator for #34

That means, that when build will be successful with hibernate-validations and  removed @Igonore annotation from "problem test case" - puzzle will be removed.

Thanks

[2015-09-28 08:00] YamStranger commented on #182
@yegor256 yes

[2015-09-28 11:06] pecko commented on #174
@dmarkov

I want to be sure that I understand this task.
Version.CURRENT is used in the com.jcabi.aspects.aj.ImmutabilityChecker and com.jcabi.aspects.aj.NamedThreads

You want me to do the following:
- test that will check that the version/buildnumber is correct (the same as ${projectVersion}/${buildNumber}
or
- add version/buildnumber to all places (exceptions and logs) in these two classes and

[2015-09-28 13:29] pecko opened #188 "Adding JDK7 requirement in README"
Seems that this project doesn't build with JDK 8 (at least for me on Ubuntu 14.04

[code]

. Maybe we should add that to README.

[2015-09-28 14:10] pecko commented on #188
Also, this project requires non-default maven options.

I have to do the following:

[code]

[2015-09-28 14:21] Suseika commented on #173
@YamStranger There are task descriptions right in the source code that are called "puzzles", they start with `@todo`.

If you're working on a task that was created by such puzzle (like this task was), then you should remove the puzzle from source code when you're done working on it. You didn't do that, and code reviewer missed that too in #183. That's why @dmarkov won't close the issue.

You shoul

[2015-09-28 14:22] Suseika commented on #173
@YamStranger The location of the puzzle in source code can be found in the top post of an issue generted by such puzzle:

[2015-09-28 14:30] YamStranger commented on #173
@Suseika you are great!!! Thanks a lot

[2015-09-28 15:38] pecko commented on #174
@dmarkov
I have done as I understand this. The PR: https://github.com/jcabi/jcabi-aspects/pull/190
Please review.

[2015-09-28 15:49] pecko opened #191 "Question: Testing Logger.info message"
I need test logger's message text in https://github.com/jcabi/jcabi-aspects/issues/174

The code (com.jcabi.aspects.aj.NamedThreads.java, lines 80-88):

[code]

How I can extract logger's message in order to contains replaced version/buildNumber.

[2015-09-28 16:59] yegor256 commented on #182
@YamStranger what about this: https://ci.appveyor.com/project/yegor256/jcabi-aspects/branch/master

It's Windows+Java7

[2015-09-28 17:04] YamStranger commented on #182
@yegor256 I removed integration tests in my local repository, I push all changes only after successful unit tests, but without checking integration tests.

[2015-09-28 17:18] yegor256 commented on #182
@YamStranger and? I didn't get the point... Appveyor says that the build is clean, on Windows+Java7

[2015-09-28 18:07] YamStranger commented on #182
@yegor256 I read this https://github.com/jcabi/jcabi-aspects, and followed by instructions.
Here is full log of  failed build (https://www.dropbox.com/s/b4nq7dxzts10gcd/out.lst?dl=0 ), and it creating recorded to this video(https://youtu.be/X4lrxxNmuCU ).

I think, that when build of repo is failed after following all instructions - it is issue, that why I reported it. I think, that Appveyor has s

[2015-09-28 18:08] rquimosing commented on #145
Hi Yegor,

Sorry for the late reply, I got your email on the weekend and was out most
of the time. Sure, that'll work. Although I went with a different approach
for my original problem, I can revisit it and use your library. Let me know
when it gets in the release version.

Thanks!
Reggie

On Sat, Sep 26, 2015 at 7:43 PM, Yegor Bugayenko <notifications@github.com>
wrote:

[2015-09-28 19:42] yegor256 commented on #182
@YamStranger I think that the problem is that you have JRE, not JDK. Try to install JDK and run the build again

[2015-09-28 20:43] YamStranger commented on #182
@yegor256 unfortunately no. If I have only jre - I could not build any project, but I can. And I can build this project without "it" folder (under "test" we have a lot of tests, and they execute successfully ). Problem in some enother place

[2015-09-28 21:03] YamStranger commented on #182
@yegor256 I retried with new JDK (why not). Here is result of failed build: https://www.dropbox.com/s/u8n3spyiu8jic8m/out?dl=0

Picked up JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8
Apache Maven 3.2.1 (ea8b2b07643dbb1b84b6d16e1f08391b666bc1e9; 2014-02-14T19:37:5
2+02:00)
Maven home: c:\BuildSystems\Maven\apache-maven\bin\..
Java version: 1.7.0_67, vendor: Oracle Corporation
Java home: c:\Java\jdk1.7.

[2015-09-28 21:05] yegor256 commented on #182
@YamStranger still looks like JRE to me:

[code]

[2015-09-29 05:49] YamStranger commented on #182
@yegor256 Here is your link: https://ci.appveyor.com/project/yegor256/jcabi-aspects/branch/master

line 21:
Java home: C:\Program Files\Java\jdk1.7.0\jre

It is normal for mvn -version output. It is not jre, it is jdk.

[2015-09-29 07:08] dmarkov commented on #173
@yamstranger only @Suseika can help you :)

[2015-09-29 07:08] dmarkov commented on #174
@pecko the puzzle was added to the code by @Suseika - you better ask him for help

[2015-09-29 11:05] pecko commented on #174
@Suseika

Could you, please, clarify the issue?

@dmarkov

Would I create a new issue?

[2015-09-29 15:47] yegor256 commented on #182
@YamStranger this is what is happening on your machine:

[code]

Definitely something is wrong with the JDK... I'm not sure why. And the problem is that we won't be able to fix it, since we can't reproduce it. No matter who we assign this task to will say the same - "everything works fine for me". The best you can do is to try to find what is the problem and suggest a solution here. Than, we can a

[2015-09-29 22:19] Suseika commented on #191
@pecko You can add a `WriterAppender` to the logger `org.apache.log4j.Logger.getRootLogger()` before the log message you're interested in is sent. `WriterAppender` can obtain what is being logged.

[2015-09-30 11:01] YamStranger commented on #182
@yegor256 Thanks, I will try. Now I have not idea what is the reason of such behavior

[2015-09-30 13:10] pecko commented on #174
@pinaf @Suseika

I have update the PR. New commit: https://github.com/pecko/jcabi-aspects/commit/7b4769b6d3534d6312614ae3f1ece31d4d3eed5e

[2015-09-30 17:28] shelan commented on #168
@dmarkov I have created a pull request in #192 . Could you please get it reviewed.

[2015-10-01 10:22] pecko commented on #174
The issue is solved. rultor merged it - https://github.com/jcabi/jcabi-aspects/pull/190#issuecomment-144619687

[2015-10-02 07:53] dmarkov commented on #168
@shelan sure, will assign someone soon

[2015-10-02 07:54] dmarkov commented on #188
@yegor256 please do something about this issue

[2015-10-02 13:47] dmarkov commented on #173
@yegor256 Thanks all, I am closing

[2015-10-02 13:47] #173 closed

[2015-10-02 13:47] dmarkov commented on #174
@yegor256 Closing, thanks all

[2015-10-02 13:47] #174 closed

[2015-10-02 13:48] dmarkov commented on #173
@yamstranger **30 mins** was added to your account, many thanks for your contribution (payment 66422876)! The task took 481 hours and 11 mins.

added +30 to your rating, now it is equal to [+15](http://www.netbout.com/b/35267?open=rating)

[2015-10-02 13:48] dmarkov commented on #174
@pecko done, I added **30 mins** in payment `66422885`, 77 hours and 21 mins spent to complete this... +30 to your rating, your total score is [+45](http://www.netbout.com/b/35660?open=rating)

[2015-10-03 17:05] yegor256 commented on #188
@pecko maybe it's better to make it work with JDK 8 instead of documenting the bug... we'll try to fix it

[2015-10-03 17:29] pecko commented on #188
@yegor256

Will I update title/description. We can add required maven options to pom.xml.

[2015-10-04 18:22] shelan commented on #168
@Suseika #192  is merged now. Could you please resolve the issue?

Thank you.

[2015-10-05 02:41] #168 closed

[2015-10-05 03:14] yegor256 opened #193 "jcabi parent 1.20"

[2015-10-05 03:14] #193 closed

[2015-10-05 04:41] yegor256 commented on #193
@rultor release, tag is `0.22.1`

[2015-10-05 04:41] rultor commented on #193
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5338-145428813)

[2015-10-05 04:46] rultor commented on #193
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5338-145428813) (spent 5min)

[code]

[2015-10-05 04:48] yegor256 commented on #193
@rultor release, tag is `0.22.1`

[2015-10-05 04:48] rultor commented on #193
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5338-145429768)

[2015-10-05 04:52] rultor commented on #193
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5338-145429768) (spent 4min)

[code]

[2015-10-05 05:43] yegor256 commented on #193
@rultor release, tag is `0.22.1`

[2015-10-05 05:44] rultor commented on #193
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5338-145435845)

[2015-10-05 05:56] rultor commented on #193
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5338-145435845) (spent 11min)

[code]

[2015-10-05 08:14] dmarkov commented on #188
@pecko thanks for tis bug, I topped your account for 15 mins, transaction `66490366`

[2015-10-05 08:15] dmarkov commented on #191
@yegor256 please pay attention to this issue

[2015-10-05 11:07] pecko commented on #191
@dmarkov @yegor256

@Suseika answered correctly. It helps me to solve #174.

@Suseika

Thanks!

[2015-10-05 11:12] Suseika commented on #191
@pecko If your question is answered, please close the issue.

[2015-10-05 11:15] pecko commented on #191
It is solved.

[2015-10-05 11:15] #191 closed

[2015-10-05 16:06] yegor256 commented on #193
@rultor release, tag is `0.22.1`

[2015-10-05 16:07] rultor commented on #193
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5338-145583753)

[2015-10-05 16:18] rultor commented on #193
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5338-145583753) (spent 12min)

[code]

[2015-10-05 16:22] yegor256 commented on #193
@rultor release, tag is `0.22.1`

[2015-10-05 16:23] rultor commented on #193
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5338-145589975)

[2015-10-05 16:44] rultor commented on #193
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5338-145589975) (took me 21min)

[2015-10-06 09:44] dmarkov commented on #168
@shelan Much appreciated! **30 mins** was added to your account, payment ID `66774278`, time spent is 169 hours and 4 mins

+30 added to your rating, current score is: [+45](http://www.netbout.com/b/35659?open=rating)

[2015-10-07 12:09] dmarkov commented on #159
@pecko the task is yours

[2015-10-07 14:55] pecko commented on #159
@dmarkov

I have created a project. Where I would be upload it?

[2015-10-07 16:55] pecko commented on #159
@dmarkov

I have created https://github.com/pecko/loggable. README explains how to use it.

[2015-10-09 08:59] dmarkov commented on #159
@pecko @yegor256 what do you think?

[2015-10-09 08:59] dmarkov commented on #159
@pecko you should offer this to the ticket author, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-10-09 09:05] pecko commented on #159
@piyusht007

I have created https://github.com/pecko/loggable. README explains how to use it.
Please review.

[2015-10-09 12:49] piyusht007 commented on #159
@pecko  Thanks I've reviewed the project and it is working fine. Though I noticed one error in the pom.xml which says "Plugin execution not covered by lifecycle configuration".

You can use <pluginManagement> tag to wrap <plugins> tag and this error will go away.

[2015-10-09 12:49] #159 closed

[2015-10-09 13:03] pecko commented on #159
@piyusht007

It's m2e issue or feature :(. I have described it in README. You can do the following:

- call Quick Fix and ignore error
- create m2e configurator for the jcabi-maven-plugin plugin :)

It is reason that you have call maven build manually from Eclipse.

[2015-10-10 19:05] pecko commented on #159
@dmarkov

This project is closed now. What we should to do yet?

[2015-10-11 10:43] pecko commented on #170
@nachtighall

You can also look at https://github.com/jcabi/jcabi-aspects/issues/159

[2015-10-15 07:53] dmarkov commented on #159
@pecko just wait a bit

[2015-10-15 07:55] dmarkov commented on #159
@pecko Much obliged! I have added **30 mins** to your account in payment "67397589", 139 hours and 11 mins spent. +30 added to your rating, current score is: [+105](http://www.netbout.com/b/35660?open=rating)

[2015-11-02 03:11] broomzhang commented on #149
Hello @yegor256

First, thank you very much for your great work of this aspectj project, and it helped us a lot.
But I have also encountered this same log level issue, and it does impact the log heavily, so I hope this bug could be fixed.

Because I am new to aspect, I am not sure if I have found the real bug, but I hope my info could help.
It seems that at: com.jcabi.aspects.aj.MethodLogger.java

[2015-11-03 08:10] dmarkov commented on #167
@suseika the last puzzle `167-78e42157`/#174 solved

[2015-11-05 04:35] yegor256 commented on #149
@rultor release, tag is `0.22.2`

[2015-11-05 04:36] yegor256 commented on #149
@jhansoty73 @broomzhang I fixed it in a6d2021

[2015-11-05 04:36] rultor commented on #149
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5652-153954441)

[2015-11-05 04:59] rultor commented on #149
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5652-153954441) (took me 23min)

[2015-11-05 05:15] yegor256 commented on #149
@jhansoty73 @broomzhang try version 0.22.2

[2015-11-05 05:45] broomzhang commented on #149
@yegor256 Thank you very much for your lightning fast fix.
the version 0.22.2 works perfectly now.

[2015-11-05 06:17] yegor256 commented on #149
@jhansoty73 please, close this ticket. thanks!

[2015-11-05 09:05] krzyk opened #194 "Validation exception when altering message of NotNull"
Following test will fail if using jcabi-aspects 0.22.2 (and 0.22.1), but works on 0.21.1:

[code]

dependencies:
[code]

build plugin:
[code]

with
[code]

Overriding message in inheriting classes is very popular (e.g. guava does that in few places) so please remove this constraint.

[2015-11-09 18:14] pinaf commented on #194
@yegor256 can we dispatch this one? it is needed for another project.

[2015-11-13 09:02] dmarkov commented on #194
@krzyk I am aware of the task, give me some time to find a developer...

[2015-11-13 09:04] dmarkov commented on #194
@krzyk thanks for reporting! I topped your account for 15 mins, transaction 69586722

[2015-11-16 13:03] sfat commented on #182
@yegor256 I've managed to reproduce the bug locally with
[code]
On jdk1.7 it works fine on Mac OS X.
The problem on jdk1.8 it's because of this https://github.com/rzwitserloot/lombok/issues/524
From the looks of it, src/it/weaving is using as parent jcabi-parent, which has lombok version 0.11.6 and the bug was fixed afterwards (1.16 +).
I've managed to make the fix upgrading jcabi-parent to 0.37.1

[2015-11-16 21:55] yegor256 commented on #182
@sfat but we're using jcabi-parent 0.37.1 in master now... can you submit a pull request with your changes?

[2015-11-17 08:08] sfat commented on #171
@yegor256 my 2 cents on this guy:
Probably @nachtighall is trying to make use jcabi-aspects together with the junit, but has jcabi-aspects classes used in *src/main*
Basically by putting scope *test*, you reduce the scope from managing to access the dependency added from using it in both *src/main* and *src/test* to just *src/test*.
This can be tested easily with any library (I've done my test usi

[2015-11-18 16:54] #149 closed

[2015-11-29 01:02] pinaf commented on #194
@yegor256 can we dispatch this one?

[2015-12-01 08:52] dmarkov commented on #194
@olegsimanov it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-12-07 13:25] Mustapha-Senhaji opened #197 "Cutomize Log Output"
Is it possible to customize the log output by using a file template, a log properties or even by a init class?

[2015-12-10 22:36] olegsimanov commented on #194
Please have a look at this pull request:
https://github.com/jcabi/jcabi-aspects/pull/198

[2015-12-11 08:30] dmarkov commented on #197
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-11 10:41] yegor256 commented on #197
@Mustapha-Senhaji no, it's not possible to change log texts.

[2015-12-11 10:41] #197 closed

[2015-12-16 10:12] dmarkov commented on #194
@olegsimanov the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, at the moment it is: [-210](http:

[2015-12-19 13:24] pinaf commented on #194
@krzyk :(

[2015-12-21 20:55] simonjenga opened #199 "@Immutable does not work as expected"
The ```com.jcabi.aspects.@Immutable``` annotates an immutable class. As soon as you try to instantiate this class a ```runtime exception``` will be thrown, because this class is mutable.

However, the following code does not throw any ```runtime exception``` as stated above in the documentation.

[code]

Any reasons that can explain this?
What is the motivation behind throwing ```runtime exception

[2015-12-22 08:35] simonjenga opened #200 "@ScheduleWithFixedDelay does not work as expected"
The ```com.jcabi.aspects.@ScheduleWithFixedDelay``` schedules a method to run with fixed delay, automatically. Execution will be started as soon as you make an instance of the class with this annotation.

However, the following code does not work as stated in the above documentation.

[code]

Any reasons that can explain this?

[2015-12-25 09:30] dmarkov commented on #199
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2015-12-25 09:30] dmarkov commented on #200
@yegor256 please do something about this issue

[2015-12-25 10:49] yegor256 commented on #199
@simonjenga this code will throw an exception, if you weave it using AspectJ, more info here: http://aspects.jcabi.com/example-weaving.html

[2015-12-25 10:59] yegor256 commented on #200
@simonjenga you have to weave your binaries after compilation, see http://aspects.jcabi.com/example-weaving.html

[2015-12-26 09:51] simonjenga commented on #199
@yegor256 Unfortunately, it doesn't throw an exception. I created a simple maven standalone project to test the class and here is the output.
[code]
It prints ```15``` which is not what i expect :(

[2015-12-26 10:44] simonjenga commented on #200
@yegor256 Unfortunately, i doesn't print out the message:

 ```System.out.println("....Seasons Greetings!....");```.

The output at the console is:

[code]
Nothing else happens after that. Even after ```1 min```.

[2015-12-28 16:01] pinaf commented on #194
@krzyk maybe reassign it?

[2015-12-28 18:26] krzyk commented on #194
@pinaf it's up to @dmarkov :)

[2016-01-01 14:14] PhilippSalvisberg commented on #156
I have the same problem within an Oracle SQL Developer extension. I failed to reproduce it in a standalone project so far.

[2016-01-01 19:51] pinaf commented on #194
@krzyk I have a feeling you can ask him to reassign

[2016-01-01 20:16] krzyk commented on #194
@dmarkov please assign someone else

[2016-01-01 20:16] pinaf commented on #194
@krzyk no that will remove points from you hehe

[2016-01-01 20:16] pinaf commented on #194
@dmarkov try `reassign the issue`

[2016-01-01 21:20] krzyk commented on #194
@pinaf but it is not assigned to me and I'm not architect here so why would @dmarkov listen to me? :)

[2016-01-01 21:28] pinaf commented on #194
@krzyk ooops...

[2016-01-04 02:23] PhilippSalvisberg commented on #156
I guess this problem is caused by com.jcabi.log.Logger and not by jcabi-aspects. Just got the same behavior when using Logger without @Loggable.

[2016-01-04 10:40] PhilippSalvisberg commented on #156
I created a test case to reproduce the behavior. It happens when slf4j-jdk14 binding is used. Everything works as expected when slf4j-log4j12 is configured.

See download jcabi-log-bug from https://github.com/PhilippSalvisberg/sandbox and run ```mvn test```to produce the follwing result (```com.jcabi.log.Logger info``` instead of ```demo.Main main```):

[code]

If I change the dependency order in

[2016-01-04 10:59] dmarkov commented on #194
@krzyk got it, someone else will be assigned soon

[2016-01-04 11:55] PhilippSalvisberg commented on #156
Solved! - When I change the the logging format to use source (%3) instead or additionally to logger (%4)
[code]
then the test result looks as follows:
[code]
Not related to jcabi-log nor slf4j.

[2016-01-04 13:10] pinaf commented on #194
@yegor256 Could we assign this one? it is holding back at least 1 issue in another project.

[2016-01-04 15:42] yegor256 commented on #194
@dmarkov pls assign @dmzaytsev to this problem

[2016-01-04 19:23] dmzaytsev commented on #194
@yegor256 I have no idea how to disable a particular constraint for `javax.validation.Validator`.
can you assist here?
I can catch the exception in https://github.com/jcabi/jcabi-aspects/blob/master/src/main/java/com/jcabi/aspects/aj/MethodValidator.java#L155, but it's not good decision

[2016-01-04 19:50] yegor256 commented on #194
@dmzaytsev I have no idea either :( honestly, I'm a bit disappointed by this entire validation API... @krzyk maybe you can suggest something?

[2016-01-05 07:53] dmarkov commented on #194
@yegor256 done. @dmzaytsev you are assigned to this task. please proceed...

[2016-01-05 10:28] krzyk commented on #194
@yegor256 sorry, I don't have good options. @dmzaytsev Maybe we could create issue in https://hibernate.atlassian.net/projects/HV/issues/HV-840?filter=allopenissues for that?

[2016-01-05 10:57] dmzaytsev commented on #194
@krzyk @yegor256 i can catch the exception as workaround if you need it
urgent.

I'll create an issue on hibernate, but they won't resolve it quickly I think

[2016-01-06 11:51] yegor256 commented on #200
@simonjenga there is something wrong with your `pom.xml` or your project. This feature works for at least two years in multiple projects.

[2016-01-06 11:51] #200 closed

[2016-01-06 18:32] pinaf commented on #194
@krzyk is this workaround acceptable?

[2016-01-07 00:49] krzyk commented on #194
@dmzaytsev @pinaf good enough for now

[2016-01-08 00:46] pinaf commented on #194
@dmzaytsev please catch the exception for now then

[2016-01-08 04:50] dmzaytsev commented on #194
@pinaf done :)

[2016-01-08 04:50] dmzaytsev commented on #194
@dmarkov please see PR #202

[2016-01-08 08:21] dmarkov commented on #194
@dmzaytsev will take a look, thanks

[2016-01-08 12:05] krzyk opened #203 "todo puzzles are not validated in travis build"
There is no validation of todos in travis configuration so they are not catched early by the developer.
Please add this validation using `pdd` tool in similar way as it is done for rultor.

[2016-01-08 19:48] dmzaytsev commented on #194
@krzyk fixed in PR #202 please close if alright

[2016-01-08 19:48] krzyk commented on #194
@dmzaytsev thanks

[2016-01-08 19:48] #194 closed

[2016-01-08 19:58] pinaf commented on #194
@krzyk could we get a new release with this fix?

[2016-01-08 20:08] krzyk commented on #194
@pinaf it's not up to me :) @yegor256 can you release this fix?

[2016-01-08 22:48] pinaf commented on #194
@krzyk argh, sorry again. No idea why I keep thinking you are the architect here!

[2016-01-10 18:08] pinaf commented on #194
@yegor256 could we get a new release?

[2016-01-11 10:58] yegor256 commented on #194
@rultor release, tag is `0.22.3`

[2016-01-11 10:59] rultor commented on #194
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6289-170508578)

[2016-01-11 11:18] rultor commented on #194
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6289-170508578) (took me 18min)

[2016-01-11 11:32] dmarkov opened #204 "MethodValidator.java:152-156: We need to find a..."
Puzzle `194-8b58eead` in `src/main/java/com/jcabi/aspects/aj/MethodValidator.java:152-156` has to be resolved: We need to find a way to disable the constraint rule OverridingMethodMustNotAlterParameterConstraints instead of catching the exception. See https://hibernate.atlassian.net/browse/HV-1044 After that don't forget to enable test JSR303Test#overridesMessage()... The puzzle was created by Dmi

[2016-01-11 11:32] dmarkov commented on #194
@krzyk once `194-8b58eead`/#204 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-01-11 12:51] dmarkov commented on #203
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-01-11 13:05] pinaf commented on #194
@yegor256 thanks!

[2016-01-11 13:10] yegor256 commented on #203
@krzyk it's done already: https://github.com/jcabi/jcabi-aspects/blob/master/.travis.yml#L24

[2016-01-11 13:10] #203 closed

[2016-01-12 05:03] oruam85 opened #205 "Edit New issue Update the Copyright year"
In the license.txt file the Copyright year should be 2016

[2016-01-12 10:44] dmarkov commented on #194
@dmzaytsev I just added **30 mins** to your account, many thanks for your contribution (74441255).. 144 hours and 10 mins spent here; +30 added to your rating, current score is: [+1703](http://www.netbout.com/b/35166?open=rating)

[2016-01-18 07:27] dmarkov commented on #204
@gmandnepr can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-18 07:27] dmarkov commented on #205
@yegor256 please do something about this issue

[2016-01-19 09:08] gmandnepr commented on #204
@dmarkov pull request created https://github.com/jcabi/jcabi-aspects/pull/206

[2016-01-20 07:25] dmarkov commented on #204
@gmandnepr OK

[2016-01-24 17:42] gmandnepr commented on #204
@dmarkov pr is merged

[2016-01-26 10:48] dmarkov commented on #204
@gmandnepr thanks

[2016-01-26 10:50] dmarkov commented on #204
@gmandnepr thank you, added **30 mins** to your acc, payment num is `75675957`, 170 hours and 52 mins spent in total to complete

added +30 to your rating, now it is equal to [-30](http://www.netbout.com/b/36313?open=rating)

[2016-01-27 07:06] #204 closed

[2016-01-27 07:06] dmarkov commented on #204
@yegor256 Closing..

[2016-01-28 23:45] HDouss opened #209 "jcabi-aspects does not validate static methods"
In jcabi-aspects 0.22.3, validation of static methods arguments fails.
This is caused by the fact that `beforeMethod` validation passes a `this` reference of the `JoinPoint`. This `this` reference is null in case of a static method and the validation fails because validators like Hibernate validator asserts that the passed object on which the method to validate is invoked should not be null.

[2016-02-01 07:24] dmarkov commented on #188
@nikoladespotoski it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for

[2016-02-01 07:24] dmarkov commented on #209
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-03 22:12] yegor256 commented on #209
@HDouss can you give a Java example please?

[2016-02-04 09:00] HDouss commented on #209
@yegor256 Description updated with an example.

[2016-02-07 14:20] longtimeago commented on #209
@yegor256 please, dispatch the issue. Thanks!

[2016-02-09 07:45] dmarkov commented on #209
@hdouss thanks for this report, I added 15 mins to your account, in transaction `77007678`

[2016-02-09 10:21] dmarkov commented on #209
@piddubnyi it's your task, go ahead

[2016-02-09 13:02] dmarkov commented on #150
@piddubnyi the task is yours, go ahead

[2016-02-11 08:50] dmarkov commented on #143
@amihaiemil this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) f

[2016-02-11 20:11] ashishsoni opened #210 "How to use Gradle for plugin"
How do i use with gradle for Loggable annotation

[2016-02-12 18:53] markcerqueira commented on #210
I'm curious about this as well. There is an [older issue][1] that also asks about this with some developer follow-up, but no real resolution.

[1]: https://github.com/jcabi/jcabi-aspects/issues/141

[2016-02-16 07:44] NikolaDespotoski commented on #188
@dmarkov assign someone else

[2016-02-16 09:40] dmarkov commented on #188
@nikoladespotoski right, I'll try to find someone else for this task

[2016-02-16 09:42] dmarkov commented on #210
@yegor256 please dispatch this issue

[2016-02-17 10:53] MauricioJr opened #211 "@Cacheable - automatic renew"
Hello guys, I'm using @Cacheable to cache a stats method. Looks a great idea to be able to trigger the method automatically when the cache time is over.
Something like:

@Cacheable(lifetime = 12, unit = TimeUnit.HOURS)
private void generateStats(){}

[2016-02-17 11:03] MauricioJr commented on #117
@darkled could you please submit a PR with your changes?
I'm closing this issue.

[2016-02-17 11:03] #117 closed

[2016-02-17 11:04] MauricioJr commented on #112
closing it.

[2016-02-17 11:04] #112 closed

[2016-02-17 11:10] MauricioJr commented on #205
@dmarkov @yegor256 I updated it. If it's just the year date fell free to merge the PR #212

[2016-02-17 11:12] MauricioJr commented on #170
@nachtighall About these previous comments, did it solve your issue?
If yes please close the it.

Thanks,
MC

[2016-02-17 12:17] MauricioJr commented on #105
@yegor256 like we use to say on my land: "Better late than never!"
Follow my small contribution to the project.

[2016-02-17 12:17] #105 closed

[2016-02-18 13:44] amihaiemil commented on #143
@dmarkov Please assign this to someone else

[2016-02-19 21:37] MauricioJr commented on #210
@ashishsoni  and @markcerqueira you can set it to weave using [iajc](https://eclipse.org/aspectj/doc/next/devguide/antTasks-iajc.html).
Maybe we can have a project example page containing packaged projects with diferent build systems like gradle, ant and sbt

[2016-02-22 07:15] dmarkov commented on #143
@amihaiemil deducted 30 from your rating :(

[2016-02-22 07:15] dmarkov commented on #143
@amihaiemil I will assign somebody else to this issue

[2016-02-22 07:16] dmarkov commented on #211
@yegor256 please dispatch this issue

[2016-02-26 12:18] dmarkov commented on #150
@piddubnyi this task is in your hands for 16 days already. -30 added to your rating, current score is: [+150](http://www.netbout.com/b/35966?open=rating)

[2016-02-27 06:18] dmzaytsev opened #214 "@Cacheable - SoftReference"
I would propose to use `SoftReference` inside `@Cacheable` to prevent OutOfMemory errors
see https://docs.oracle.com/javase/7/docs/api/java/lang/ref/SoftReference.html

Maybe usage of `SoftReference` should be optional.

[2016-02-29 10:51] dmarkov commented on #209
@piddubnyi it's not yours any more (took too long), please stop... -60 added to your rating, current score is: [+90](http://www.netbout.com/b/35966?open=rating)

[2016-02-29 13:43] dmarkov commented on #150
@piddubnyi the task is not yours any more, please stop... -60 added to your rating, current score is: [+30](http://www.netbout.com/b/35966?open=rating)

[2016-03-01 08:10] dmarkov commented on #214
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-03-02 07:40] dmarkov commented on #214
@dmzaytsev thank you for the ticket reported, I topped your account for 15 mins, transaction `79165362`

[2016-03-07 11:22] dmarkov commented on #194
@krzyk the last puzzle `194-8b58eead`/#204 originated from here solved

[2016-03-09 07:02] amihaiemil opened #216 "Error shown in the logs"
In one build that runs ``ajc`` using ``jcabi-aspects``, I see the following log.
Where can I see what was the actual error? It's a bit misleading since there are no ``@Cachable`` annotations in the built project.

![image](https://cloud.githubusercontent.com/assets/6305156/13627763/79602cde-e5d5-11e5-91a0-50e61da9d46e.png)

[2016-03-09 07:53] amihaiemil commented on #216
clarified

[2016-03-09 14:28] MauricioJr commented on #216
@amihaiemil could you please share your solution?
Maybe it can help someone in the future.

Thank yoU!

[2016-03-09 14:33] amihaiemil commented on #216
@MauricioJr There was no solution found - as I said in the description, I don't know what that error means. I initially thought it was causing a bad behaviour in my build... it turned out that something else was the problem, so I left this aside.

I reopen this issue, maybe someone answers.

[2016-03-11 09:30] dmarkov commented on #214
@nesterov-n This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-03-12 14:09] nesterov-n commented on #214
@dmarkov See my PR #217

[2016-03-14 08:33] dmarkov commented on #214
@nesterov-n thanks

[2016-03-14 08:35] dmarkov commented on #216
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-03-14 09:24] eduanb opened #218 "@Loggable for all sub classes"
I am working on a spring mvc project and all my controllers inherit from an abstract. I would like to add @Loggable to the parent and have it propagate down to each concrete controller.

[2016-03-15 03:14] yegor256 commented on #216
@amihaiemil can you post a bigger part of the log? also, was the build successful in the end?

[2016-03-15 05:42] amihaiemil commented on #216
@yegor256 Yes, the build was successfull. Log in gist https://gist.github.com/amihaiemil/040297c36260031e9a61 (line 37-39)

The built project is here https://github.com/jcabi/jcabi-maven-plugin/issues/45 - search for ".zip".. for some reason github wouldn't let me upload .zip, maybe because I'm on windows and Winrar detects that file type.

Built with goals ``clean install assembly:single`` and jd

[2016-03-17 10:23] dmarkov commented on #218
@yegor256 please do something about this issue

[2016-03-17 17:47] yegor256 commented on #218
@eduanb good idea, but it's technically not possible with AspectJ, as far as I know...

[2016-03-22 16:46] sdoca commented on #156
I am (finally) back to testing this, and am still having the same issue.  I don't think it's related to log formatting as I am not creating the format in code as in Philipp's comments.  Here's my setup.

A project that builds a jar file with Utility.java which has been annotated at the class level with: `@Loggable(value = Loggable.DEBUG, prepend = true)`.  It has a simple `add` method.  There is a

[2016-03-22 21:12] sdoca commented on #156
Found the issue and maybe it's the same as PhilippSalvisberg, but I'm not familar with what %2 and %3 refer to in his answer.  However, my logback.xml pattern is set to log the class name:

    <pattern>%date{"yyyy MMM dd HH:mm:ss,SSS"} TestWar [%thread] %-5level %class: %m%n</pattern>

But, if I change it to log the logger name:

    <pattern>%date{"yyyy MMM dd HH:mm:ss,SSS"} TestWar [%thread] %-

[2016-03-23 07:27] eduanb commented on #218
It is actually quite simple with the + syntax. Here is an example http://blog.espenberntsen.net/2010/03/20/aspectj-cheat-sheet/

[2016-03-26 14:22] nesterov-n commented on #214
@dmzaytsev PR has been merged. Can you close this issue?

[2016-03-26 14:26] dmzaytsev commented on #214
@nesterov-v thanks

[2016-03-26 14:26] #214 closed

[2016-03-26 16:42] dmzaytsev commented on #214
@yegor256 please release if possible

[2016-03-28 22:51] yegor256 commented on #214
@rultor release, tag is `0.22.4`

[2016-03-28 22:52] rultor commented on #214
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7893-202614800)

[2016-03-28 23:15] rultor commented on #214
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7893-202614800) (took me 22min)

[2016-03-29 11:02] dmarkov commented on #214
@nesterov-n Thanks for your contribution, **30 mins** was added to your account, payment ID is `AP-6J597220CB723445M`, 407 hours and 38 mins spent total... added +30 to your rating, now it is equal to [-58](http://www.netbout.com/b/36483?open=rating)

[2016-04-01 10:08] HDouss commented on #209
@dmarkov @yegor256 Any progress on this issue ?

[2016-04-12 08:24] dmarkov commented on #209
@hdouss not much so far

[2016-04-13 14:41] bacey commented on #156
Hi all!

I created a fork based on the https://github.com/pecko/loggable/ project and described my issue in the https://github.com/bacey/loggable/blob/performanceLogger/README.md file.

In a nutshell, when I use a "named" @Loggable annotation (i.e. @Loggable(name="asd")), then the class name (where the @Loggable annotation can be found) is lost/overwritten in the output log line.

Could you please

[2016-04-25 14:25] lukashunter opened #219 "NullPointerException during invoke @Loggable"
It is my first comment in GitHub ever. I'd like use @Loggable because is awesome, but I have following problem. When I run my app in local env it is everything is good, but in production i have problem.

Thanks for help and sorry for Subject

Luke

[code]

[2016-04-27 07:55] KuchiVanDerK opened #220 "Example using IntelliJ with Java8"
I'm trying to make the @Loggable run within IntelliJ using Java8.
I don't get any warnings or notifications the @Loggable seems to be ignored.
Do I need to enable anything so IntelliJ recognizes the AspectJ?

Followed the blog post from [aop-aspectj-java-method-logging](http://www.yegor256.com/2014/06/01/aop-aspectj-java-method-logging.html)

The code I tried to run: [loggable-test](https://github

[2016-04-29 07:41] dmarkov commented on #219
@yegor256 please do something about this issue

[2016-04-29 12:17] MauricioJr commented on #219
@lukashunter please confirm that, is your AdmService component lifecycle managed by spring?
Looks like the instance object doens't exist yet when the aspect try to intercept it.

[2016-04-29 12:31] lukashunter commented on #219
@MauricioJr yes, AdmService is Spring Component (marked by @Service).

[2016-05-02 07:03] dmarkov commented on #220
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-05-03 13:24] yegor256 commented on #219
@lukashunter this problem is not related to our code (I guess). it's something you should resolve with Spring. maybe @MauricioJr can help you...

[2016-05-03 13:28] yegor256 commented on #220
@KuchiVanDerK you won't be able to make it work from IDE, only from command line when you run `mvn clean test` (or any other build tool you're using). IntelliJ simply doesn't run any Maven plugins, that's the problem.

[2016-05-03 13:28] #220 closed

[2016-05-04 13:47] esaucastilloc commented on #145
Hi yegor256,

I am starting to use your library and I came across with this suggestion regarding how to set the annotation values from a property. Have you included this feature in your latest release? Are you planning to include this in a next release?

Thanks

[2016-05-13 09:32] essobedo opened #221 "JSR-349 support"
`Bean Validation` 1.1 has been released 3 years ago, do we have any plan to support it? In projects where we use `hibernate-validator` 5.1 or higher, we get errors of type `JSR-303 validator failed to initialize: Unable to instantiate Configuration. (see http://aspects.jcabi.com/jsr-303.html)`. Is it at least possible to avoid such error when we use an implementation of JSR-349 with the current ve

[2016-05-13 10:45] MauricioJr commented on #221
Hello Nicolas, thank you for your report.
Could you provide a simple project containing these library setup?

If so, please paste the project link here. We'll fork the repository and
analyze this issue.

Thanks,
MC

On Friday, May 13, 2016, Nicolas Filotto <notifications@github.com> wrote:

[2016-05-13 11:10] essobedo commented on #221
@MauricioJr thx for your answer, actually it is a private project so I don't believe that I can share anything but does it mean that it should work? do you support JSR-349?

[2016-05-13 13:47] MauricioJr commented on #221
What I asked for is if you can create a test project for us? It should contain the same jar structure (including versions) that you are using on your production project with a simples test class.
About JSR-349, I believe it's the first incompatibility report.

Thank you,
MC

[2016-05-13 13:53] essobedo commented on #221
@MauricioJr ok I will try to provide this test project

[2016-05-13 13:57] MauricioJr commented on #170
@nachtighall did you check  #159 ?
If so, please close this issue.

Thanks,
MC

[2016-05-13 18:31] essobedo commented on #221
@MauricioJr I finally find out that my problems come from `jcabi-maven-plugin` sorry for the noice

[2016-05-13 18:31] #221 closed

[2016-05-23 17:35] longtimeago commented on #209
@yegor256 please, give a green light to the issue

[2016-05-24 17:29] VitaliyKulikov opened #222 "Time units change during one run"
Could we don't change time-units in output during one run.
I can't parse log file correctly then time is in different units.

[2016-05-24 19:05] MauricioJr commented on #222
@VitaliyKulikov what you mean? Could you please provide an example containing:
- What is showing
- Problem description
- Expected result

Thanks a lot,
MC

[2016-05-25 06:49] yegor256 opened #223 "java.lang.ArrayIndexOutOfBoundsException in MethodLogger"
[code]

[2016-05-25 06:49] #223 closed

[2016-05-25 07:09] yegor256 commented on #223
@rultor release, tag is `0.22.5`

[2016-05-25 07:09] rultor commented on #223
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8492-221491148)

[2016-05-25 07:15] rultor commented on #223
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/8492-221491148) (spent 5min)

[code]

[2016-05-25 07:19] yegor256 commented on #223
@rultor release, tag is `0.22.5`

[2016-05-25 07:20] rultor commented on #223
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8492-221493024)

[2016-05-25 07:24] rultor commented on #223
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/8492-221493024) (spent 4min)

[code]

[2016-05-25 07:26] yegor256 commented on #223
@rultor release, tag is `0.22.5`

[2016-05-25 07:27] rultor commented on #223
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8492-221494203)

[2016-05-25 07:51] rultor commented on #223
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8492-221494203) (took me 23min)

[2016-05-25 11:00] VitaliyKulikov commented on #222
@MauricioJr thanks for quick replay. sure, here is more details.

i need parse log file and collect time for some executions. so, in log i have:
[code]

i know that i can cast all time to one unit, but wanna that all time was in one unit - *ms* OR *min*, like:
[code]

[2016-05-30 07:03] dmarkov commented on #222
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-05-30 13:47] jondoe1337 opened #224 "Make the corresponding SLF4J method for @Loggable chooseable"
Iam currently working on an own slf4j implementation where it would be useful to get, for example, the invocation time of a method produced by '@Loggable' in an argument that are passed over to the slf4j-api.

As far as i see, the LogHelper of jcabi invokes constantly the single String argument methods with the respective LogLevel of the slf4j-Logger.

My current workaround is to parse the string

[2016-06-03 09:27] dmarkov commented on #224
@yegor256 please do something about this issue

[2016-06-17 14:37] simonjenga commented on #161
Please refer to this similar issue for an explanation: https://github.com/jcabi/jcabi-aether/issues/57

[2016-06-17 14:38] #161 closed

[2016-06-22 17:25] bvipparla commented on #210
Any update on this one please. I am trying to use jcabi in my projects but couldn't get through. Suspecting because of the ajc weaver. Can you setup some sample projects using gradle as build tool and working with jcabi

[2016-06-22 23:21] yegor256 commented on #224
@jondoe1337 I see the problem, but how do you think we can do that? how can we make that method configurable? technically

[2016-06-23 00:08] yegor256 commented on #209
@dmarkov pls assign this to @westonized

[2016-06-23 08:30] dmarkov commented on #209
@yegor256 OK @westonized please proceed, this task is yours

[2016-06-25 08:17] westonized opened #225 "What are you using to generate version ids on new files?"
e.g.:

[code]

Where did `ca9877488a58274154311a989f5fd585ef0c0f0f` come from? Any neat way to generate in intellij?

And also what are they for?

[2016-06-25 08:40] westonized opened #226 "Line does not match expected header line of ' * Copyright (c) 2012-2015, jcabi.com'"
You get this message if you use 2012-2016 on a new file. Rule needs relaxing, or rule and all files need to be changed to 2016.

[2016-06-25 09:11] westonized commented on #209
@HDouss I cannot reproduce this from your example. You don't say what the failure is, but the test does not fail. https://github.com/westonized/jcabi-aspects/commit/34a21ffca23177e78b9de239bad90db072f111cf

[2016-06-25 09:12] westonized commented on #209
@dmarkov blocked, waiting on OP to comment

[2016-06-25 09:25] westonized commented on #225
Git seems to replace any id I write in with ``* @version $Id$`` so presumable I can just do that?

[2016-06-25 11:57] HDouss commented on #209
@westonized That's weird, the problem was reproductible on every machine (I mean locally, on travis, on rultor...) I still reproduce the problem locally. Please see `Dummy` and `DummyTest` on https://github.com/hdouss/jcabi-aspects/tree/209-case

[2016-06-25 13:25] westonized commented on #209
@HDouss I see this:

[code]

[2016-06-25 13:28] westonized commented on #209
@HDouss Ok, I see it in your branch, no idea what the difference is:

[code]

[2016-06-25 13:31] HDouss commented on #209
@westonized The error is widely noticeable in many projects using jcabi-aspects.

[2016-06-27 13:12] jondoe1337 commented on #224
How about doing Reflection with a given class/method String parameter that it set in the annotation @Loggable?

[2016-06-27 19:43] yegor256 commented on #216
@amihaiemil I don't see what exactly is the problem here... closing

[2016-06-27 19:43] #216 closed

[2016-06-27 19:55] essobedo opened #227 "Reduce the log level of the message indicating that there is no JSR-303 provider available"
Up to now, when no JSR-303 provider is available in the classpath, it logs an error of type `JSR-303 validator failed to initialize: Unable to create a Configuration, because no Bean Validation provider could be found. Add a provider like Hibernate Validator (RI) to your classpath.`which is not really appropriate as it could be a perfectly valid situation so the log level should be reduced to have

[2016-06-27 22:25] westonized commented on #209
@HDouss I'm not sure we can deal with this, there is no javax method on the interface for specific validation on a static and hibernate explicitly states it does not support it:

https://docs.jboss.org/hibernate/validator/5.3/reference/en-US/html/ch03.html#section-declaring-method-constraints

[2016-06-27 22:37] HDouss commented on #209
@westonized I didn't really dig into details, but what is sure is that this example worked perfectly on 0.22.2 version, and that what forced some projects to stick to that version and not upgrade since.

[2016-06-27 22:46] yegor256 commented on #222
@VitaliyKulikov well, this is by design... How would you suggest to make this behavior configurable? The only idea I have is through system properties. something like `java -Djcabi.log.smartTime=false` Would that work?

[2016-06-27 23:10] westonized commented on #209
@HDouss I just cherry picked your commit on to 0.22.2, it still fails there. So I don't believe your example demonstrates the same issue that stopped people wanting to upgrade.

[2016-06-28 07:18] HDouss commented on #209
@westonized Sorry, it was 0.21.1 that worked.

[2016-06-28 09:12] VitaliyKulikov commented on #222
@yegor256 sure, it will work.
as a suggestion, i prefer to use annotation parameter, like:
[code]
also, as i understand time-unit will be MICROSECONDS by default.

[2016-06-28 09:13] dmarkov commented on #226
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-06-28 12:53] dmarkov commented on #225
@yegor256 please do something about this issue

[2016-06-28 15:59] yegor256 commented on #225
@westonized more info about this you can find here http://stackoverflow.com/questions/1792838/how-do-i-enable-ident-string-for-git-repos

[2016-06-28 15:59] #225 closed

[2016-06-28 16:02] yegor256 commented on #222
@VitaliyKulikov in that case, maybe it's better to do it this way:

[code]

By default `timeUnit` attribute will be `null`, which will mean that the most appropriate time unit will be used. Make sense?

[2016-06-28 16:37] VitaliyKulikov commented on #222
@yegor256 awesome )).
just in case, if *timeUnit = TimeUnit.SECONDS* we will lost precision OR we wanna float?
For example converting 999 milliseconds to seconds results in 0

[2016-06-28 17:04] yegor256 commented on #222
@VitaliyKulikov maybe we can add one more argument `precision`, which will contain the amount of digits after the dot? by default it's -1, which means "up to you":

[code]

what do you think?

[2016-06-28 17:08] yegor256 commented on #226
@westonized fixed in 9b16577 thanks!

[2016-06-28 17:08] #226 closed

[2016-06-28 17:15] VitaliyKulikov commented on #222
@yegor256 yep. i think, it will be the best solution for all needs.
just to clarify, here are few use-cases:
[code]

[2016-06-28 17:24] yegor256 commented on #222
@VitaliyKulikov not exactly :) "ms" means milliseconds, while "μs" means microseconds. but you got the idea

[2016-07-01 08:59] dmarkov commented on #227
@yegor256 please dispatch this issue

[2016-07-01 20:27] yegor256 commented on #227
@essobedo it looks like that log line is reported by `javax.validation.Validation`, not by us (correct me if I'm wrong). We simply can't do anything about it.

[2016-07-01 22:32] westonized commented on #209
@HDouss Ok, seen it on 0.21.1, 0.22 seems ok too. Definitely introduced in 0.22.1

[2016-07-01 22:41] westonized commented on #209
@HDouss This looks like the prime commit candidate 3e2b3456113d932829e71841200a0be607ee4a47  "Replace our makeshift JSR-303 validation implementation with hibernate's" from PR #169/issue #34

As soon as that happened, we entered hibernate's house where "Constraints may only be applied to instance methods"

@yegor256 need a call on this. Hibernate does not do what we want, #34/#169 has caused this

[2016-07-07 22:40] yegor256 commented on #209
@westonized what do you suggest?

[2016-07-07 22:52] westonized commented on #209
@yegor256

It depends, because I don't know why #169 happened. It says _what_ it's doing "Replace our makeshift JSR-303 validation implementation with hibernate's" but not exactly _why_ other than it's makeshift.

1. If there was no specific reason, and the project was fully functional before, then it could be undone and the "makeshift" version put back. And we just accept that hibernate is not su

[2016-07-07 22:59] westonized commented on #209
@yegor256 OK based on more info on #34, it didn't support enough constraints. I suggest we **can't** do options 1 or 2. So leaves just 3 or 4.

[2016-07-10 05:30] maurcarvalho commented on #210
@bvipparla I'll do it and place  news here asap

[2016-07-14 06:32] mammamSou opened #228 "@loggable is not working"
My main is"

[code]

 My method is :

[code]

 My loogeable class is:

[code]

 But while calling power method its not calling my AuditAspect class!!!!!!! where i did wrong???

[2016-07-18 08:31] dmarkov commented on #228
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-07-19 07:19] DaveJarvis opened #229 "Configure default behaviour for annotations"
Consider the following:

[code]

If this setting is a common occurrence, then it means that the  annotation itself becomes duplicated code. Configuring the default annotation should be possible so that the above code becomes:

[code]

This partially addresses the issue. A full address of the issue would allow for a configuration file wherein the default behaviour can be applied at the package, cla

[2016-07-22 08:43] dmarkov commented on #229
@yegor256 please do something about this issue

[2016-07-22 20:08] yegor256 commented on #229
@DaveJarvis really good idea, thanks. we will try to implement it soon

[2016-07-22 20:14] yegor256 commented on #228
@mammamSou this is a good question, but not for us :) you should ask it at Stackoverflow.com

[2016-07-22 20:14] #228 closed

[2016-07-27 19:29] malele86 opened #230 "referenced classes (.jar files) with loggable annotation doesn't work"
Hey,

my maven project:
[prj 1] maven web app
[prj 2] maven java app

--> prj 1 has a reference to prj 2 !

prj1 and prj 2 has a class which is annotated with @Loggable.

After build + deploy (glassfish) for prj 1 logging is working like a charm but not for prj 2.

Why?
Is this not supported or does i have a misunderstanding (i am new @ java world comes from .net world ;) )..?

If you need further

[2016-07-27 20:30] malele86 commented on #230
Issue isn't a issue ..
just forgot to add jcabi-maven-plugin to pom.xml in prj2 - working also now! love this lib! :+1:

[2016-07-27 20:30] #230 closed

[2016-08-02 22:01] pawanmishra opened #231 "AspectJ Internal Error: unable to add stackmap attributes. null"
Hi,

I am seeing the following error in console -
[code]
Later when I try to run the application without "-noverify" flag, I get the following error -

[code]
With "-noverify" things are running fine but I am curious if it's a known issue?

[2016-08-04 09:42] dmarkov commented on #229
@prondzyn the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here; This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-08-04 12:38] prondzyn commented on #229
@DaveJarvis please consider situation when you have:

[code]

and

[code]

What should takes precedence in this situation? Plugin config or directly specified parameters?

[2016-08-04 19:05] prondzyn commented on #229
@dmarkov please assign someone else

[2016-08-05 07:05] dmarkov commented on #229
@prondzyn -30 points to your rating

[2016-08-05 07:05] dmarkov commented on #229
@prondzyn I will ask somebody else to pick this up

[2016-08-08 09:11] dmarkov commented on #231
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-08-08 12:29] pawanmishra commented on #231
Hi,

I wanted to provide an update. The issue is resolved. I was using an old version of aspects-maven-plugin(0.9). Upgrading to 0.14 fixed the problem. This ticket can be closed.

[2016-08-08 12:29] #231 closed

[2016-08-15 07:16] dmarkov commented on #229
@amihaiemil please proceed, it's yours

[2016-08-15 23:19] snowe2010 opened #232 "Cannot weave using in spring boot project"
I'm receiving the error

[code]

Here is my pom.xml

[code]

And here is where I'm trying to use it.

[code]

[2016-08-16 08:31] amihaiemil commented on #229
@DaveJarvis Refactoring can be done and also a new aspect can be created that uses parameters read form a file, no problem.

But, in the new aspect's constructor, where I try to read the xml file, what do I do if there's an exception or the file is not there (the client chose the annotation option)? I cannot control the AspectJ instantiation process, can I? It will result in a ghost aspect running

[2016-08-16 14:54] amihaiemil commented on #229
@yegor256 What do you think about it? See my previous comment

[2016-08-18 05:01] DaveJarvis commented on #229
When documenting the feature:

* Create a simple example that demonstrates exactly how to use the configuration file.
* Make it perfectly clear what will happen if the configuration file is invalid.
* Show how to determine whether the configuration file is valid.

No need to protect developers from themselves.

If it is possible to log a warning that indicates an error with the configuration file

[2016-08-18 05:19] amihaiemil commented on #229
@DaveJarvis Ok,  that is one side of the matter. What if no file is configured? How do I stop the Aspect, in its constructor? The AspectJ will call that constructor, the file won't be found (because simply the user did not supply it, he wants just annotations) and then what? I cannot what AspectJ does with the Aspects? Will it keep trying to instantiate it and fail, or will instantiate it and run

[2016-08-18 05:24] amihaiemil commented on #229
@DaveJarvis I'm just trying to clarify everything now, since this is a big topic and I'm not going to implement it all, just a portion of it (i'll start with necessary refactoring and layout) and add what we call "puzzles" (TODOs), which will be solved as further tasks. So you see, this issue here will raise a tree of other issues/tasks (up until the whole new functionality is implemented and unit

[2016-08-18 17:25] amihaiemil commented on #229
@yegor256 can u also have a look here pls?

[2016-08-19 02:50] DaveJarvis commented on #229
Would writing a small test case help? (It needn't read a configuration file, merely apply an annotation across a few classes. A stepping stone on the way to reading a configuration file.) I had imagined that the configuration file would be optional; the library should "just work" without external dependencies. I don't know enough about the internals of how Aspects are created to be much more help.

[2016-08-19 07:50] dmarkov commented on #232
@yegor256 please do something about this issue

[2016-08-19 17:03] amihaiemil commented on #229
@DaveJarvis I did some protoyping now and I found the following:

1) If there's an exception in the Aspect's constructor, then ``org.aspectj.lang.NoAspectBoundException`` is thrown. This exception fails the build, as I expected, since AspectJ cannot handle it.

So once you have an exception in the constructor (like when there is no config file since the client chose to use annotations) there is no

[2016-08-21 15:17] amihaiemil commented on #229
@DaveJarvis ping

[2016-08-23 03:30] DaveJarvis commented on #229
If annotations are absolutely required and cannot be used to read the configuration file, then yes, close it. Spring AOP has an XML-driven approach, but doesn't use annotations.

http://www.tutorialspoint.com/spring/schema_based_aop_appoach.htm

[2016-08-23 03:45] amihaiemil commented on #229
@DaveJarvis you close it please, I cannot. And besides, you should close it, that'a how we work :D

[2016-08-23 04:00] #229 closed

[2016-08-23 04:00] DaveJarvis commented on #229
Thanks for looking into it. :-)

[2016-08-24 09:43] dmarkov commented on #229
@amihaiemil Much appreciated! **30 mins** was added to your account, payment ID `AP-8D627772T9427752L`, time spent is 192 hours and 49 mins... +30 added to your rating, current score is: [+270](http://www.netbout.com/b/36402?open=rating)

[2016-10-10 10:41] hsinghweb opened #233 "JSR-303 Validation test failed after adding jcabi-aspects"
Hi,
I am using jcabi-aspects to record the execution time of methods.
Based on some search I also added the hibernate-validator in the dependency:

        <dependency>
            <groupId>javax.validation</groupId>
            <artifactId>validation-api</artifactId>
        </dependency>
        <dependency>
            <groupId>org.hibernate</groupId>
            <artifactId>hibernate-validator

[2016-10-13 13:35] dmarkov commented on #233
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-10-13 14:18] hsinghweb commented on #233
Adding more details. Problem is in running the testNG unit tests.
For example below uni test

-------------------------------------------------------
    @Test(expectedExceptions = DataAccessException.class)
    public void testCreateItemsForDataAccessException() throws Exception {
        when(mockNamedParameterJdbcDaoSupport.getNamedParameterJdbcTemplate().batchUpdate(anyString(),
            an

[2016-10-20 10:43] sandeepkhanzode opened #234 "javax.validation.ConstraintViolationException: may not be null for a mocked object in TestNG test"
I started to integrate jcabi-aspects into an already built Spring application with JSR-303 Hibernate-Validator based annotations. The @Loggable seems to work displaying the time, etc. But the existing TestNG test cases fail at weird code locations. Weird since the @NotNull annotation should not fail because a properly mocked instance of the argument is being passed in the test. I can verify this b

[2016-10-28 10:46] dmarkov commented on #234
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-11-18 16:32] yegor256 commented on #234
@sandeepkhanzode well, if you pass `NULL` and there is `@NotNull` annotation, you get an exception. That's what jcabi-aspects is doing.

[2016-11-21 06:32] fandfisf opened #236 "Allow exceptions to be logged as ERROR"
For most project a typical structure is

1. Method entry and exist are logged at low severity (DEBUG or INFO)
2. Exceptions are logged as errors.

I believe this used to be the default behavior of `@Loggable`, however issue #149 changed that. I understand the motivations behind it, but for a typical case, this approach does not help. We rarely want to log enter/exit at WARN and exceptions at DEBUG

[2016-11-22 07:17] yegor256 commented on #232
@snowe2010 definitely a bug, thanks for reporting, we will take a look soon!

[2016-11-24 09:07] dmarkov commented on #236
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-11-29 10:50] pchmielowski commented on #210
@maurcarvalho - do you have any updates?

[2016-12-02 06:26] baimingzhang opened #237 "@Loggable not work"
After run the code, nothing happened.

My code is:
public static void main(String[] args) {
		power(3, 5);
	}

	@Loggable(Loggable.DEBUG)
	public static int power(int x, int p) {
		return (int) Math.pow(x, p);
	}

my log4j.properties is

log4j.properties:
log4j.rootLogger=INFO, FILE
log4j.appender.FILE=org.apache.log4j.FileAppender
log4j.appender.FILE.file=/log/applicationLog.log
log4j.appender.FI

[2016-12-05 07:56] dmarkov commented on #237
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-12-09 13:38] maurcarvalho commented on #210
Hello guys, I didn't have the chance to look on it yet 👎
If anyone wants to move forward feel free to jump in.
Regards,
MC

[2016-12-15 16:27] yegor256 commented on #237
@baimingzhang it seems to be correct. Do you have directory `target/unwoven` after the build?

[2016-12-19 08:38] baimingzhang commented on #237
@yegor256 no, there is no directory target/unwoven after the build

[2016-12-19 08:43] baimingzhang commented on #237
@yegor256 yes, there is a directory target/unwoven after the build

[2016-12-22 09:21] dmarkov commented on #49
@yegor256 Thanks all, I am closing

[2016-12-22 09:21] #49 closed

[2017-01-08 05:03] trusharusa commented on #237
I am trying to weave on java8 and spring boot project, and I am getting nullpointer, please help.

here is what I have added in my pom.xml

 <plugin>
	        <groupId>com.jcabi</groupId>
	        <artifactId>jcabi-maven-plugin</artifactId>
	        <version>0.14.1</version>
	         <configuration>
            <source>1.8</source>
            <target>1.8</target>
         </configuration>

[2017-01-08 05:05] trusharusa commented on #237
<dependency>
			  <groupId>com.jcabi</groupId>
			  <artifactId>jcabi-aspects</artifactId>
			  <version>0.22.5</version>
			</dependency>
			<dependency>
			  <groupId>org.aspectj</groupId>
			  <artifactId>aspectjrt</artifactId>
			  <version>1.6.12</version>
			  <scope>runtime</scope>
			</dependency>

<plugin>
	        <groupId>com.jcabi</groupId>
	        <artifactId>jcabi-maven-plugin</arti

[2017-01-09 14:46] trusharusa commented on #237
<dependency>
			<groupId>com.jcabi</groupId>
			<artifactId>jcabi-aspects</artifactId>
			<version>0.22.5</version>
		</dependency>

doesn't support java8 and spring aspects...can't woven

[2017-01-17 16:23] yegor256 commented on #237
@trusharusa this is strange, since in this project we use Java8 and jcabi-aspects, without any issues: https://github.com/yegor256/jare

[2017-02-07 15:58] yegor256 opened #238 "too much text in RetryOnFailure with verbose=OFF"

[2017-02-07 16:09] yegor256 commented on #238
@rultor release, tag is `0.22.6`

[2017-02-07 16:11] rultor commented on #238
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10880-278047387)

[2017-02-07 16:29] rultor commented on #238
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10880-278047387) (took me 17min)

[2017-02-08 07:16] #238 closed

[2017-02-08 07:16] 0crat commented on #238
Job `gh:jcabi/jcabi-aspects#238` was not in scope

[2017-03-01 08:45] MwumLi commented on #124
if you come here for cas@4.0.0 compilation question, you can use java7 to compile it

[2017-03-07 21:18] lucasmm opened #239 "Error NoClassDefFoundError (org/aspectj/util/PartialOrder$PartialComparable)"
I'm trying to use jcabi-aspects with SpringBoot version 1.3.3 but when I run the application the follow error shows up

`Caused by: java.lang.ClassNotFoundException: org.aspectj.util.PartialOrder$PartialComparable
	at java.net.URLClassLoader.findClass(URLClassLoader.java:381) ~[na:1.8.0_101]
	at java.lang.ClassLoader.loadClass(ClassLoader.java:424) ~[na:1.8.0_101]
	at sun.misc.Launcher$AppClassLoa

[2017-03-07 21:18] 0crat commented on #239
@yegor256 please, pay attention to this issue

[2017-03-08 11:04] Lovegiver commented on #237
Hi,
is there one unique place where I could find the way to install all the stuff needed to make "Loggable" annotation works ?
I've spent many hours yet but nothing works.
I've read the blog and many posts on Stackoverflow, but I'm surely missing something.

My app uses Spring.
My logs are managed with Logback and also use a bridge logging from JCL to SLF4J.

Here are all the packages I've install

[2017-03-10 15:07] richard2017spring opened #240 "Only able to see method name, not able to see param values, return value"
I am only able to see method name, not able to see parameters values nor return value. This is probably caused by the error:
Execution default of goal com.jcabi:jcabi-maven-plugin:0.14.1:ajc failed. (com.jcabi:jcabi-maven-plugin:0.14.1:ajc:default:process-classes).

Here is my pom file:

[code]

A red line is always show under <execution>

My code is:

[code]

Could anyone help to see what I did w

[2017-03-10 15:07] 0crat commented on #240
@yegor256 please, pay attention to this issue

[2017-03-10 16:01] richard2017spring commented on #240
In the pom file, under the execution tag, there is a red line with error, and the stacktrace is:

Execution default of goal com.jcabi:jcabi-maven-plugin:0.14.1:ajc failed. (com.jcabi:jcabi-maven-plugin:0.14.1:ajc:default:process-classes)

org.apache.maven.plugin.PluginExecutionException: Execution default of goal com.jcabi:jcabi-maven-plugin:0.14.1:ajc failed.
	at org.apache.maven.plugin.DefaultBu

[2017-03-14 05:21] jasonmg commented on #237
@trusharusa, @yegor256  Hi, regarding the issue not working under java8 and spring environment, do you have any solution yet? cause i face the exactly problem as you posted above.

[2017-04-13 13:04] Arxa commented on #210
Any updates guys?

[2017-04-13 13:46] maurcarvalho commented on #210
@Arxa looks like no-one is working on it. Feel free to jump for if you wish.

[2017-04-17 23:29] bemnet4u commented on #237
Any update on this? I am also seeing this in a non spring environment.

[2017-04-18 06:38] Lovegiver commented on #237
Hi,
no answer yet, as if this thread was completely inactive.
I think I gonna use Lombock, not as simple as a single "loggable" annotation but not so far ^^

++

[2017-04-25 14:35] yegor256 commented on #239
@lucasmm we need to see how you configure it all together (your `pom.xml` file at least)

[2017-04-28 05:57] yegor256 commented on #240
@richard2017spring thanks for reporting, this definitely looks wrong:

[code]

[2017-04-28 05:58] yegor256 commented on #240
@richard2017spring but this issue belongs to the jcabi-maven-plugin. Can you please post it here: https://github.com/jcabi/jcabi-maven-plugin/issues

[2017-04-28 05:58] #240 closed

[2017-05-05 03:58] bilalsha commented on #210
@maurcarvalho will you help me out in setting gradle project example? I can jump to get it working

[2017-05-12 07:26] 0pdd opened #242 "Immutable.java:65-68: Let's prevent modifications to arrays..."
The puzzle `33-e5af3af3` in [`src/main/java/com/jcabi/aspects/Immutable.java`](https://github.com/jcabi/jcabi-aspects/blob/master/src/main/java/com/jcabi/aspects/Immutable.java) (lines 65-68) has to be resolved: "Let's prevent modifications to arrays having this annotation, somehow. Perhaps we can create an aspect that will throw an exception should something try to write into the array. See https

[2017-05-12 07:26] 0crat commented on #242
@yegor256 please, pay attention to this issue

[2017-05-16 17:14] sedovalx commented on #210
I've created a simple Gradle version of the plugin https://github.com/sedovalx/gradle-aspectj-binary. Feel free to use it as a sample, fork it or issue a pull request. I had a plan to use it in one of my projects but the command decided not to use aspects, at least for now. Probably it will be helpful for someone anyway.

[2017-05-16 17:21] maurcarvalho commented on #210
@sedovalx thanks for your help on it. There is any chance to create a how-to setup for jcabi-aspects with gradle?

You can document it under Examples > Gradle.
i.e Examples > Ant with AjcTask http://aspects.jcabi.com/example-weaving-ant.html

If you think that it's a good idea, you can fork and PR the example page at `jcabi-aspects/src/site/`

[2017-05-16 17:24] maurcarvalho commented on #210
@bilalsha take a look at @sedovalx comment. Looks like it's what we needed so far.

[2017-05-16 17:47] bilalsha commented on #210
https://github.com/bilalsha/gradle-jcabi-example

A sample project to use jcabi-aspect with gradle.

[2017-05-16 23:31] sedovalx commented on #210
https://github.com/eveoh/gradle-aspectj is definitely a more mature project. But it works with java sources only. In my case it was a downside. But if it is not an issue you better stick to the `gradle-aspectj` plugin.

[2017-05-17 10:11] sedovalx commented on #210
Anyway here is the setup for the jcabi-aspects with  https://github.com/sedovalx/gradle-aspectj-binary.

1. Add the plugin to the buildscript's classpath.

[code]
2. Apply plugin in all projects with aspects and annotated classes. In case you don't have your own aspects and use the jcabi-aspects library you need to apply the plugin only in the projects that contain annotated classes.

[code]

3. A

[2017-06-05 05:54] lessmor opened #243 "logging twice"
Add the annoation :@loggable  to my test project, which caused printing log twice.

`
**1. test code(static method) as follows:**
  @Loggable(limit = 200, unit = TimeUnit.MILLISECONDS)
    public static void run() throws InterruptedException{
        TimeUnit.MILLISECONDS.sleep(300);
        // Something that should not take more than 200 msec.
    }
**2.log result:**
13:51:42.489 [main] WARN  com

[2017-06-05 05:54] 0crat commented on #243
@yegor256 please, pay attention to this issue

[2017-06-12 10:27] yegor256 commented on #243
@lessmor are you sure you don't call `run()` two times?

[2017-06-26 02:55] fanhongli opened #244 "Performance issues"
log4j.rootLogger=info,log

testLoggableTime(20, 20, 1000000): in 851.02ms
testNologTime(20, 20, 1000000): in 7.46ms

@Loggable(Loggable.DEBUG)
    public double power(int x, int p) {
        return Math.pow(x, p);
    }

     public double nologPower(int x, int p) {
        return Math.pow(x, p);
    }

    @Loggable(Loggable.INFO)
    public void testLoggableTime(int x, int p, int times) {

[2017-06-26 02:56] 0crat commented on #244
@yegor256 please, pay attention to this issue

[2017-06-26 03:00] fanhongli commented on #244
oh , no , the log4j2 is  Worse

testLoggableTime(20, 20, 1000000): in 2.96s
testNologTime(20, 20, 1000000): in 7.55ms

is the have to use asyn ？

[2017-06-26 09:10] fanhongli commented on #244
public double testLog4j(int x, int p, int times) {
        double ret = 0;
        for (int i = 0; i < times; i++) {
            if (log.isDebugEnabled()) {
                log.debug(" x ");
            }
            ret = Math.pow(x, p);
        }
        return ret;
    }

21.170406ms

[2017-06-29 10:33] yegor256 commented on #244
@fanhongli I didn't get the problem. Can you explain again what are you comparing with what and how can we fix it?)

[2017-06-30 16:09] pacinpm opened #245 "@Cacheable and @Loggable - performance issues"
Hi, I am using Aspects library and I have some doubts with @Cacheable. Here are some lines from logs:

Info:   16:55:01.687 [http-listener-1(3)] INFO pl.cbs.primio.api.PrimioAPI - #loginToShopId('666'): 172722 in 21,42ms
Info:   16:55:01.691 [http-listener-1(3)] INFO pl.cbs.primio.api.PrimioAPI - #loginToShopId('666'): 172722 cached in 27ms, valid for 1days

Info:   16:55:01.994 [http-listener-1(3

[2017-06-30 16:09] 0crat commented on #245
@yegor256 please, pay attention to this issue

[2017-07-17 16:51] yegor256 commented on #245
@pacinpm but I don't see any cache hits in the log. All calculations are made only one time. That's why there is no performance gain. You should call them a few times and you will see the speed improvement.

[2017-08-07 10:08] nirajk42 commented on #237
Facing the same issue

[2017-08-14 15:49] paramitanit commented on #179
i have problem, logs are not writing for me too. i used the class files, pom.xml as above, but the pom xml showing error.I m attaching the error and also the pom.xml file..please help me asap
![pom](https://user-images.githubusercontent.com/30828893/29279611-ff306b4c-8135-11e7-810b-2da782e2431d.png)
[pom.txt](https://github.com/jcabi/jcabi-aspects/files/1222705/pom.txt)

[2017-08-14 16:03] paramitanit opened #246 "logs not writing"
Hi @yegor256

i have problem, logs are not writing for me too. i used the class files, pom.xml as the given URL(https://github.com/jcabi/jcabi-aspects/issues/179) but the pom xml showing error.I m attaching the error and also the pom.xml file..please help me asap
[pom.txt](https://github.com/jcabi/jcabi-aspects/files/1222735/pom.txt)
![pom](https://user-images.githubusercontent.com/30828893/292802

[2017-08-14 16:03] 0crat commented on #246
@yegor256 please, pay attention to this issue

[2017-08-14 17:18] yegor256 commented on #246
@paramitanit they won't work in the IDE, you know that?

[2017-08-14 17:32] paramitanit commented on #246
@yegor256 yeah sir...the file jcabi.log is not generating: c//log//jcabi.log in properties file

log4j.rootLogger=INFO, file, CONSOLE
log4j.appender.file=org.apache.log4j.RollingFileAppender
log4j.appender.file.File=C:\\log\\jcabi.log
log4j.appender.file.MaxFileSize=10MB
log4j.appender.file.MaxBackupIndex=1
log4j.appender.file.layout=org.apache.log4j.PatternLayout
log4j.appender.file.layout.Conver

[2017-08-14 17:32] paramitanit commented on #246
@yegor256 i m using eclipse indigo

[2017-08-14 17:45] paramitanit commented on #179
@kumarvijaypt please share ur complete pom.xml file, if u have, its really urgent

[2017-08-14 21:01] yegor256 commented on #246
@paramitanit jcabi-log won't work if you run your app from Eclipse. Run it from Maven.

[2017-09-15 17:37] bernieatenovlab opened #247 "@Loggable in combination with springframework's @Cachable and @Async"
Love the @Loggable annotation!!! A few of our methods are annotated with spring's @Cachable or @Async tags which seem to collide with the @Loggable tag.

Are you aware of this issue? An example of an error is below...

weaveinfo Join point 'method-execution(java.util.List com.mycompany.service.impl.event.MyServiceImpl.getMyProfiles(java.util.Locale))' in Type 'com.mycompany.service.impl.event.MySe

[2017-09-15 17:38] 0crat commented on #247
@yegor256 please, pay attention to this issue

[2017-09-19 07:42] yegor256 commented on #247
@bernieatenovlab I've never seen this before. Looks like a bug in AspectJ... Maybe you can report it to them somehow? https://github.com/eclipse/org.aspectj

[2017-09-25 20:13] HadrienMP commented on #237
Hi, same issue here. I tried with the smallest program possible and only the dependencies listed on the jcabi-aspects site.

Have any of you found a solution yet ?

[2017-10-10 07:42] zhangfei9734 opened #248 "How to filter the password field"
If my method into the password field, how to filter it out

[2017-10-10 07:42] 0crat commented on #248
@yegor256 please, pay attention to this issue

[2017-10-10 07:45] zhangfei9734 commented on #248
class User{
    def username
    def password
}

@Loggable(limit = 5, unit = TimeUnit.SECONDS)
login(User user){
    sleep(TimeUnit.SECONDS.toMillis(6L))
    ...
}
I want to keep the username in the log, but ignore the password, how do i do it?

[2017-10-10 08:44] yegor256 commented on #248
@zhangfei9734 just make sure `User.toString()` doesn't print it.

[2017-10-10 08:56] zhangfei9734 commented on #248
@yegor256 thank you very much !!!

[2017-10-10 13:45] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 13:45] #248 closed

[2017-10-10 14:45] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 15:45] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 16:46] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 17:46] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 18:46] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 19:46] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 20:06] santoshkumar-soma opened #249 "@Timeable(limit = 1, unit = TimeUnit.SECONDS) not working as expected"
I have tried to use this annotation with my java method but it not timinout.

Please find the below java method .

public static void main(String[] args) throws InterruptedException{
        test();
    }
    @Loggable
    @Timeable(limit = 1, unit = TimeUnit.SECONDS)
    public static void test() throws InterruptedException{
        System.out.println("Start");
        Thread.sleep(1000000);

[2017-10-10 20:06] 0crat commented on #249
@yegor256 please, pay attention to this issue

[2017-10-10 20:46] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 21:47] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 22:47] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 23:47] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 00:47] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 01:39] mkiran18 opened #250 "jcabi-aspects version for validation 1.0.0"
Hi , is there a version of jcabi-aspects that is compatible for valiadtion 1.0.0 , jboss EAP 6.4 still uses 1.0 version.

Thanks

[2017-10-11 01:39] 0crat commented on #250
@yegor256 please, pay attention to this issue

[2017-10-11 01:47] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 02:47] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 03:47] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 04:47] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 05:47] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 06:48] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 07:29] yegor256 commented on #249
@santoshkumar-soma you should not forget about weaving: http://aspects.jcabi.com/example-weaving.html

[2017-10-11 07:48] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 08:48] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 09:48] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 10:48] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 11:48] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 12:48] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 13:48] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 14:05] yegor256 commented on #250
@mkiran18 I believe the current version is compatible with validation 1.0.0. Do you see any errors?

[2017-10-11 14:48] 0crat commented on #248
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-20 08:33] mkiran18 commented on #250
Hi ,
Apologies for getting back late,
Below is the error:  @NotNull is used on the getter

JBWEB000236: Servlet.service() for servlet dispatcherServlet threw exception: javax.validation.ValidationException: HV000090: Unable to access getABC.
--
620 | at org.hibernate.validator.internal.util.ReflectionHelper.getValue(ReflectionHelper.java:194)
621 | at org.hibernate.validator.internal.engine.Valida

[2017-10-20 12:53] mamuf opened #251 "How is the custom MethodLogger.instanceOf better than Class.isAssignableFrom?"
Hi, we use this library in our company's projects and I am just wondering why you do not use the `Class.isAssignableFrom` method instead? What are the reasons for this custom code?

I have dug through the git blame and related issues but didn't find any hints.

The code: https://github.com/jcabi/jcabi-aspects/blob/786697c1a8626520a1d13347ca51dc94b5472827/src/main/java/com/jcabi/aspects/aj/MethodLo

[2017-10-20 12:53] 0crat commented on #251
@yegor256 please, pay attention to this issue

[2017-10-20 21:40] mkiran18 commented on #250
just check the javadoc, the method is only added in 1.1

[code]

[2017-10-21 16:15] yegor256 commented on #251
@mamuf no idea :) Try to refactor and run the build. If nothing breaks, submit a pull request.

[2017-10-24 08:35] rainishjj commented on #232
any update for this?

[2017-10-26 05:59] lvc opened #252 "Backward compatibility report for Jcabi Aspects"
This is the report on API changes and backward compatibility for the Jcabi Aspects library since version 0.14: https://abi-laboratory.pro/java/tracker/timeline/jcabi-aspects/

The report is generated for jars at http://central.maven.org/maven2/com/jcabi/jcabi-aspects/ by the https://github.com/lvc/japi-tracker tool (according to the article https://wiki.eclipse.org/Evolving_Java-based_APIs_2).

Th

[2017-10-26 05:59] 0crat commented on #252
@yegor256 please, pay attention to this issue

[2017-10-26 06:33] yegor256 commented on #252
@lvc it is very useful, but it looks ugly :) Improve the look-and-feel and I will add it to all my projects.

[2017-11-11 14:03] VincenzoFerme opened #253 "Loggable and Log4J2 (and Dropwizard): Does not Apply Package/Class Logger Level"
Hi, thank you for this fantastic library, I am using it for logging in a Dropwizard service.

I think that `@Loggable` does not pick the package/class level if using Log4J2 in a Dropwizard service (and maybe also in other contexts).

I attach to this issue ([jcabi-aspects-loggable-log2j2-level.zip](https://github.com/jcabi/jcabi-aspects/files/1463781/jcabi-aspects-loggable-log2j2-level.zip)) a sim

[2017-11-11 14:03] 0crat commented on #253
@yegor256 please, pay attention to this issue

[2017-11-13 20:48] yegor256 commented on #253
@VincenzoFerme this seems to be a bug, but I can't really understand what is the cause of it. Maybe you can contribute with a pull request? The entire functionality is here: https://github.com/jcabi/jcabi-aspects/blob/master/src/main/java/com/jcabi/aspects/aj/MethodLogger.java

[2017-11-23 10:32] Anand093 commented on #223
mvn install gives error

[ERROR] 12095
java.lang.ArrayIndexOutOfBoundsException: 12095
	at org.codehaus.plexus.util.xml.pull.MXParser.parsePI(MXParser.java:2502)
	at org.codehaus.plexus.util.xml.pull.MXParser.parseEpilog(MXParser.java:1604)
	at org.codehaus.plexus.util.xml.pull.MXParser.nextImpl(MXParser.java:1434)
	at org.codehaus.plexus.util.xml.pull.MXParser.next(MXParser.java:1131)
	at org.apa

[2017-11-23 10:33] Anand093 commented on #223
Its blocker for me to generate zip file, plz help me on this

[2017-12-12 18:27] aboussaidi opened #255 "@Loggable is not working anymore Java 9 ?"
Hi team,

First of all thank you so much for the work you are doing !
I'm working on Sparkjava on Heroku project and want to add Loggable features.

I follow this 2 links to set the jcabi-aspects :
http://aspects.jcabi.com/example-weaving.html
http://aspects.jcabi.com/annotation-loggable.html

I have the following configuration :
JDK 9 (Oracle or OpenJDK)

Pom.xml
<?xml version="1.0" encoding="UTF

[2017-12-13 20:40] 0crat commented on #255
@yegor256 please, pay attention to this issue

[2017-12-13 23:52] aboussaidi commented on #255
@0crat Thank you !
Do you have any idea of what could be the root cause ?

Thanks for your help @yegor256 :)

[2017-12-14 13:00] 0crat commented on #255
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-12-14 13:42] aboussaidi commented on #255
Hi @0crat , Yes  :). I @mentioned you, with your name, at the beginning.

[2017-12-14 13:43] 0crat commented on #255
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-12-25 20:47] PawanDalal commented on #232
+1. Any plan to fix this?

[2018-01-15 12:51] sorryya opened #256 "@Loggable does not work"
![image](https://user-images.githubusercontent.com/5079505/34943061-f579d1e2-fa34-11e7-8886-7d0dd230edee.png)

pom.xml:

[code]

log4j.properties:

[code]

Problem: Run with Main in IntelliJ IDEA, logger.debug("mylog") logged correctly, but @Loggable logged nothing.

[2018-01-15 12:51] 0crat commented on #256
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-15 13:22] sorryya commented on #256
Called function with @Loggable from another project, it works.

[2018-02-01 08:07] imcaizheng commented on #124
Same problem encountered.

Here's the error output:

My `mvn --version`:

And the jcabi plugin in my `pom.xml`:

I'm fairly new to Maven and have no idea how to troubleshoot this issue myself.

[2018-02-05 03:40] imcaizheng opened #257 "ClassFormatException: Invalid byte tag in constant pool: 19"
I followed this example http://plugin.jcabi.com/example-java8.html
but encountered some errors as #124.

Here's the error output:
<details>
  <summary><i><b>click to expand...</b></i></summary>
  <pre>
    <code>
      [INFO] --- jcabi-maven-plugin:1.0-SNAPSHOT:ajc (default) @ my-app ---
      [INFO] jcabi-aspects 0.22.6/3f0a1f7 started new daemon thread jcabi-loggable for watching of @Loggable an

[2018-02-05 03:40] 0crat commented on #257
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-07 10:56] santhosh12992 opened #258 "@loggable doesn't work with Slf4j"
I came to know about @Loggable annotation of [jcabi](http://aspects.jcabi.com/annotation-loggable.html) but am not successful in implementing that and your help is highly appreciated.

Below is the code that i have tried.

[code]

IDE console prints this.

`[main] INFO com.amazon.optimus.cpamutil.utils.Jcabi - Print Successfull`

This is the log for the log.info i have added in the method and ther

[2018-02-07 10:56] 0crat commented on #258
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-08 03:14] santhosh12992 commented on #258
@0crat
@yegor256

I am struck on this for a while and your help is highly appreciated.

[2018-02-08 03:14] 0crat commented on #258
Are you speaking to me or about me [here](https://github.com/jcabi/jcabi-aspects/issues/258#issuecomment-363989381). You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-02-08 11:44] yegor256 commented on #258
@santhosh12992 you need to weave your binaries: http://plugin.jcabi.com/example-ajc.html

[2018-02-08 11:44] #258 closed

[2018-02-08 11:44] 0crat commented on #258
Job `gh:jcabi/jcabi-aspects#258` is not assigned, can't get start time

[2018-02-08 11:54] 0crat commented on #258
Job [#258](https://github.com/jcabi/jcabi-aspects/issues/258) was not in scope

[2018-02-09 05:27] santhosh12992 commented on #258
@yegor256  Thanks for the response.

I am using a stand alone java application.

How i can use jcabi-maven-plugin there?

You help is really appreciated.

[2018-02-12 15:05] sarthak2707 commented on #142
Not able to maven clean install @yegor256
[code]

[2018-02-12 16:20] yegor256 commented on #258
@santhosh12992 start to use Maven. No matter what application you are developing, you need a builder. Stop using IDEs for that. Build your products from command line, using Maven.

[2018-02-22 16:55] lurodrig commented on #257
Hello there,

I have the same issue when I try to use slf4j-log4j. My dependencies looks like this:

[code]
With above ones I get `org.aspectj.apache.bcel.classfile.ClassFormatException: Invalid byte tag in constant pool: 19` when the **ajc goal** runs: ` --- jcabi-maven-plugin:0.14.1:ajc`

In the other hand if I used the good and old **java.util.logging** (aka juli) framework it works!

[code]

H

[2018-02-22 17:18] lurodrig commented on #156
Hello @PhilippSalvisberg,

I am using apache-tomcat-9.0.5. It turns out that it uses `java.util.logging.ConsoleHandler.formatter = org.apache.juli.OneLineFormatter` I am trying to apply your recipe changing its format with no luck :(

[code]

In the other hand if I switch to java.util.logging.SimpleFormatter works.

Thanks!

Luis

[2018-02-23 06:43] 0pdd commented on #33
@dmarkov this puzzle is still not solved: [242](https://github.com/jcabi/jcabi-aspects/issues/242)

[2018-02-23 06:43] 0pdd commented on #242
@0pdd all puzzles are solved

[2018-02-23 08:29] PhilippSalvisberg commented on #156
Hi @lurodrig,

I cannot help you with Tomcat. However, I've configured logging for SQL Developer which uses java.util.logging. See an example of a the full configuration file on https://github.com/oddgen/oddgen/blob/master/sqldev/src/test/resources/logging.conf

See also https://docs.oracle.com/javase/9/docs/api/java/util/logging/SimpleFormatter.html for explanation of the arguments. Unfortunately

[2018-03-24 16:24] girias commented on #256
@sorryya Is this issue resolved? I am facing the similar issue. I am using in a Java 8 Springboot environment. The Logger logs are getting logged. However, @Loggable never works. Is there a solution to this. Please advise.

[2018-03-28 12:07] Yugen42 commented on #257
Same issue here.

[2018-04-04 20:59] bernieatenovlab commented on #257
We are also getting the same error and `@Loggable` stopped producing output!

[code]

[2018-04-23 07:56] GUOMN commented on #257
i have the same issue when using jdk1.8&tomcat 7.0.68...
but it going worked when i using jdk1.8&tomcat8.5.30..

[2018-04-24 17:08] bernieatenovlab commented on #257
After some trial and error, I was able to fix the "Invalid byte tag in constant pool: 19" issue by changing the way the plugin is declared, forcing it to use a newer version of AspectJ. The plugin is fairly old by now and uses outdated AspectJ libraries.

[code]

[2018-05-03 15:55] Maze-fr commented on #256
I use Java 8 + Springboot 1.4.7 + Lombok + home made AspectJ, working on a project with 691 classes, and sometimes it works, sometimes it doesn't.
In some cases, changing the order of the annotations on my method made it work ; other times it didn't change anything.
What is very confusing is that I have the problem only with jcabi annotations...

I really would like to know how to debug that, but

[2018-06-04 09:28] klopfdreh commented on #256
I am also playing a bit around with this issue.

What I found out is that you have to apply the versions of aspectjrt / jcabi-aspects also to the maven plugin:

[code]
jcabi-maven-plugin 0.14.1 is causing an issue within m2e so I reverted it to 0.14.

If you don't set the dependency java 1.6 and an old jcabi version is used.

[code]

I was also not able to make this running. Looking forward for so

[2018-06-04 09:34] Maze-fr commented on #256
The lib "jcabi-aspects" already draws the dependency to the lib "aspectjrt".
So "jcabi-maven-plugin" shouldn't need to explicitly declare the "aspectjrt" dependency with it.

[2018-06-04 09:43] klopfdreh commented on #256
Hi @Maze-fr - thanks for the information. I changed my pom.xml like this:

[code]
mvn clean package output:

[code]

Seems that somehow the <span>@</span>Loggable(Loggable.DEBUG) are not discovered.

[2018-06-04 09:44] Maze-fr commented on #256
Yes, I have the same problem : it says that everything is scanned, but it find no @Loggable

[2018-06-04 10:16] klopfdreh commented on #256
@Maze-fr try this:

[code]

There are several issues. One is that somehow the compiler doesn't uses the right import in my case. That was the reason why the annotation wasn't detected. It imports something jdk.nashorn...Loggable

The next issue is that the maven plugin doesn't show the right outputs.

I think this should investigated by the authors of this plugin.

[2018-06-04 10:39] klopfdreh commented on #256
I guess this is a compiler issue, because the import is not considered to be used.

There are to ways of fixing this:
1. The Java Compiler needs to be fixed
2. The Annotation should be renamed in something more unique

Hope this helps.

[2018-06-14 17:22] yegor256 commented on #257
@bernieatenovlab maybe you can contribute with a pull request, to update the dependencies. I will release a new version then.

[2018-06-19 10:47] Maze-fr commented on #237
Same as #256

[2018-06-28 15:04] Maze-fr commented on #256
I may have a clue...

As I was a little upset of not being able to log with `@Loggable`, I made my own "loggable" aspect to log all the methods of all my controllers, services, repositories and components, of my entire application. Spring AOP provides a very easy way to do it, so I tried...

When doing that, I noticed that my `@Aspect` didn't work at all.
It didn't log at all (same problem as with

[2018-07-08 16:47] bentayaa commented on #57
Hello, i have the same problème and i'm using version 0.22.6.
any idea ?

my pom dependency
`
               <dependency>
			<groupId>org.aspectj</groupId>
			<artifactId>aspectjrt</artifactId>
			<version>1.6.12</version>
			<scope>runtime</scope>
		</dependency>

		<dependency>
			<groupId>org.apache.maven</groupId>
			<artifactId>maven-plugin-api</artifactId>
			<version>3.0</version>
		</depen

[2018-07-08 19:33] bentayaa commented on #57
I found it, so if you want to use jcabi-aspects v0.22.6 you have

1. to use the lastest version of jcabi-maven-plugin 0.14.1  ( look for it here http://repo.maven.apache.org/maven2/com/jcabi/jcabi-maven-plugin/).

if you're using maven >= 3.1.0 you have to include the dependecy bellow :

                <dependency>
			<groupId>org.eclipse.aether</groupId>
			<artifactId>aether-api</artifactId>

[2018-07-23 12:20] Maze-fr opened #259 "@Loggagle error level for exceptions"
Hello,

It would be nice to be able to say to `@Loggable` that when an exception is thrown, it should log with another level (like ERROR, for example).
Currently, it is logging with the same level as the level defined (so default is INFO).

I explain...
When working on the project, INFO is enough to track what is going on. But when in production, the logging level is probably set to WARN, so when

[2018-07-23 12:20] 0crat commented on #259
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-23 12:20] 0crat commented on #259
@maze-fr[/z](https://www.0crat.com/u/maze-fr) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-20 16:26] lilyzhang79 opened #260 "'JSR-303 validator failed to initialize' error remains even I followed instruction"
I want to use the @RetryOnFailure annotation, so I added the dependencies and it compiled but got the following error.

[code]
**I do not need to use the validator annotation. Is there a way I can exclude it so I do not need to solve the dependencies here?**

I tried to resolve the dependency by following https://aspects.jcabi.com/jsr-303.html, but still got the same error. In docker when I starte

[2018-08-20 16:51] lilyzhang79 commented on #260
I added two more dependencies in `pom.xml` and the error after service started changed to
[code]

[2018-09-13 16:35] dstcnd11 commented on #257
I am running into the same issue.
Looks like there is a Pull Request with a fix but it's just sitting there.
Is there any blocker? Is there anything others (including myself) can help with to get this resolved for everyone?

[2018-09-24 09:33] naveensharma18 commented on #234
I'm not sending null, still getting same exception. Below is the method argument

@NotBlank @FormParam(MOBILE_PHONE_NUMBER) String mobilePhoneNumber

[2018-10-30 03:53] angiwit commented on #257
I am running into the same issue and i have resolved it. The exception stack trace like below.

Caused by: org.aspectj.apache.bcel.classfile.ClassFormatException: File: 'com.zhongan.hq.gw.anlink.core.AnLinkClient': Invalid byte tag in constant pool: 18
        at org.aspectj.apache.bcel.classfile.ClassParser.readConstantPool(ClassParser.java:192)
        at org.aspectj.apache.bcel.classfile.ClassP